@import "../styles";
@include loading-icon;
// @include spin;

.ss-main {
  width: inherit;
  .ss-single-selected {
    border: 1px solid $input-border-color-default;
    background-color: $input-background-color-default;
    border-radius: $border-radius-normal;
    padding: $spacing-medium-small $spacing-normal;
    color: $input-text-color-default;
    height: $input-height;
    width: -webkit-fill-available;

    .ss-arrow .arrow-down, .ss-arrow .arrow-up {
      border-color: $White;
    }
    .placeholder {
      &>.ss-disabled {
        color: $input-text-color-default;
      }

      .loading {
        display: flex;
        gap: $spacing-small;
        line-height: initial;
        @include loading-icon;
      }

      img {
        width: $logo-icon-size-small;
        height: $logo-icon-size-small;
        border-radius: 50%;
        margin-right: $spacing-small;
        background-color: $Neutral04;
        overflow: visible;
      }
    }
  }

  .ss-content {
    background-color: $input-background-color-default;
    border: 1px solid $input-border-color-default;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    .ss-list {
      padding: $spacing-small 0;
      &::-webkit-scrollbar {
        width: $spacing-small;
      }
      &::-webkit-scrollbar-thumb {
        transform: translateX(-15px);
        border-radius: 15px;
        background-color: rgba($scroll-bar-thumb-color, 0.5);
        height: 50%;
      }
      .ss-option {
        color: $input-text-color-highlighted;
        span {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: $spacing-small;
          img {
            margin-right: $spacing-small;
            height: $logo-icon-size-small;
            width: $logo-icon-size-small;
            background-color: $logo-icon-background-default;
            border-radius: 50%;
          }
        }
        padding: $spacing-small $spacing-normal;
        &.ss-disabled,
        &:hover {
          background-color: $input-border-color-active;
        }
      }
    }

    .ss-search {
      border-bottom: 1px solid $input-border-color-default;
      margin: 0 $spacing-small;
      align-items: center;
      width: -webkit-fill-available;
      width: -moz-available;
      &::before {
        content: "\F002";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        font-size: 13px;
        color: $Neutral04;
      }

      &>input {
        border: none;
        background-color: $input-background-color-default;
        color: $input-text-color-default;
        padding: $spacing-small $spacing-normal;
        &:active,
        &:focus {
          box-shadow: none;
        }
        background-color: unset;
      }
    }
  }

  .ss-open-below + .ss-content {
    border-top-color: $input-border-color-default;
    border-radius: 0 0 $border-radius-normal $border-radius-normal;
  }
  .ss-open-above + .ss-content {
    border-bottom-color: $input-border-color-default;
    border-radius: $border-radius-normal $border-radius-normal 0 0;
  }

  .ss-open-above, .ss-open-below, .ss-open {
    border-color: $input-border-color-active;
  }

  .ss-single-selected.ss-disabled {
    background-color: transparent;
    border-color: $input-border-color-default;
    color: $input-text-color-disabled;
    .ss-disabled {
      color: $input-border-color-disabled;
    }
    .ss-arrow .arrow-down, .ss-arrow .arrow-up {
      border-color: $input-text-color-disabled;
    }
  }
}
