@import "src/resources/elements/primeDesignSystem/variables";

deal-make-an-offer {
  pcard.pcard {
    color: $Neutral04;
    display: block;
    padding: 20px 24px;

    .title {
      margin-bottom: 24px;
    }

    .makeAnOfferButton {
      margin-top: 20px;

      button {
        img {
          margin-right: 10px;
        }
      }
    }
  }

  .makeAnOfferModal {
    display: none;
  }

  .makeAnOfferModalNote {
    margin-top: $spacing-normal;
  }
}
