@import "../variables";

.pToggle {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 29px;
  transition: .4s;

  .pToggleInput {
    display: inline;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .pToggleSlider {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0, $Secondary05 0%, $Secondary05 100%);
    height: 100%;
    border-radius: 100px;
    padding: 0 10px;
    transition: .4s;
  }

  .pToggleSlider:before {
    position: absolute;
    z-index: 1;
    content: "";
    height: 85%;
    border: 2px solid $BG01;
    aspect-ratio: 1;
    left: 4px;
    background-color: $Neutral04;
    transition: .4s;
    border-radius: 50%;
  }

  .checkedIcon,
  .uncheckedIcon {
    transition: .4s;
    color: $BG01;
  }

  .checkedIcon {
    opacity: 0;
  }

  .pToggleInput:checked {
    +.pToggleSlider {
      background: $Gradient01;

      .checkedIcon {
        opacity: 1;
      }

      .uncheckedIcon {
        opacity: 0;
      }
    }
  }

  .pToggleInput:checked+.pToggleSlider:before {
    transform: translateX(calc(100% + 2px));
  }

  .pToggleInput:disabled {

    +.pToggleSlider {
      cursor: not-allowed;
      background: transparent;
      border: 1px solid $Neutral02;

      &:before {
        background-color: $Neutral02;
      }

      .checkedIcon,
      .uncheckedIcon {
        color: $Neutral02;
      }
    }

  }
}
