@import "src/resources/elements/primeDesignSystem/variables";
@import "src/resources/elements/primeDesignSystem/colors";

$soonColor: $Red;
$soonBackground: #3e2638;
$comingUpColor: $Orange;
$comingUpBackground: #3e3038;
$farOffColor: #cecece;
$farOffBackground: #30343e;

$completedColor: #18bab0;
$completedBackground: #2b3239;
$swappingColor: #FF52CF;
$swappingBackground: #38263E;
$negotiatingColor: #38DE67;
$negotiatingBackground: #2B3139;
$failedColor: #CECECE;
$failedBackground: #30343E;
$openColor: #38DE67;
$openBackground: #2B3139;
$liveColor: #38DE67;
$liveBackground: #2b3139;
$targetReachedColor: #38DE67;
$targetReachedBackground: #2B3139;
$swapCompleteColor: #18bab0;
$swapCompleteBackground: #2b3239;
$targetNotReachedColor: #FF5252;
$targetNotReachedBackground: #3E263C;
$fundingInProgressColor: #FF52CF;
$fundingInProgressBackground: #38263E;
$closedColor: #CECECE;
$closedBackground: #30343E;

.timeLeftContainer {
  font-size: $font-size1;

  > div.mainStatus > div,
  > div.adminStatus > div {
    font-family: Inter;
    align-self: center;
    white-space: nowrap;

    > .icon {
      margin-right: 5px;
    }

    &:not(.timeLeft) {
      > .icon {
        display: inline-block;
        font-size: 7px;
        position: relative;
        bottom: 3px;
      }
    }
  }

  > div.mainStatus > div {
    &.timeLeft {
      &.soon {
        color: $soonColor;
      }

      &.comingUp {
        color: $comingUpColor;
      }

      &.farOff {
        color: $farOffColor;
      }
    }
    
    &.completed {
      color: $completedColor;
    }

    &.live {
      color: $liveColor;
    }
    &.swapping {
      color: $swappingColor;
    }

    &.negotiating {
      color: $negotiatingColor;
    }

    &.failed {
      color: $failedColor;
    }

    &.open {
      color: $openColor;
    }

    &.targetReached {
      color: $targetReachedColor;
    }

    &.swapCompleted {
      color: $swapCompleteColor;
    }

    &.targetNotReached {
      color: $targetNotReachedColor;
    }

    &.fundingInProgress {
      color: $fundingInProgressColor;
    }

    &.closed {
      color: $closedColor;
    }
  }

  &.contained {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 6px;

    > div.mainStatus > div,
    > div.adminStatus > div {
      border-radius: 87px;
      padding: 4px 8px;
    }

    > div.mainStatus > div {
      &.timeLeft {
        &.soon {
          background-color: $soonBackground;
        }

        &.comingUp {
          background-color: $comingUpBackground;
        }

        &.farOff {
          background-color: $farOffBackground;
        }
      }

      &.completed {
        background-color: $completedBackground;
      }

      &.live {
        background-color: $liveBackground;
      }
      &.swapping {
        background-color: $swappingBackground;
      }

      &.negotiating {
        background-color: $negotiatingBackground;
      }

      &.failed {
        background-color: $failedBackground;
      }

      &.open {
        background-color: $openBackground;
      }

      &.targetReached {
        background-color: $targetReachedBackground;
      }

      &.swapCompleted {
        background-color: $swapCompleteBackground;
      }

      &.targetNotReached {
        background-color: $targetNotReachedBackground;
      }

      &.fundingInProgress {
        background-color: $fundingInProgressBackground;
      }

      &.closed {
        background-color: $closedBackground;
      }
    }
  }
}
