@import "src/resources/elements/primeDesignSystem/variables";
@import "src/resources/elements/primeDesignSystem/colors";

$soonColor: $Red;
$soonBackground: #3e2638;
$comingUpColor: $Orange;
$comingUpBackground: #3e3038;
$farOffColor: #cecece;
$farOffBackground: #30343e;
$liveColor: $Green;
$liveBackground: #2b3139;
$completeColor: #18bab0;
$completeBackground: #2b3239;
$incompleteColor: #da6511;
$incompleteBackground: #3e2c27;
$uninitializedColor: #717171;
$uninitializedBackground: #000;
$pausedColor: #ff52cf;
$pausedBackground: #38263e;
$closedColor: #848484;
$closedBackground: #2d3131;

.timeLeftContainer {
  font-size: $font-size1;

  > div.mainStatus > div,
  > div.adminStatus > div {
    font-family: Inter;
    align-self: center;
    white-space: nowrap;

    > .icon {
      margin-right: 5px;
    }

    &:not(.timeLeft) {
      > .icon {
        display: inline-block;
        font-size: 7px;
        position: relative;
        bottom: 3px;
      }
    }
  }

  > div.mainStatus > div {
    &.timeLeft {
      &.soon {
        color: $soonColor;
      }

      &.comingUp {
        color: $comingUpColor;
      }

      &.farOff {
        color: $farOffColor;
      }
    }

    &.live {
      color: $liveColor;
    }

    &.complete {
      color: $completeColor;
    }

    &.incomplete {
      color: $incompleteColor;
    }

    &.uninitialized {
      color: $uninitializedColor;
    }
  }

  > div.adminStatus > div {
    &.paused {
      color: $pausedColor;
    }

    &.closed {
      color: $closedColor;
    }
  }

  &.contained {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 6px;

    > div.mainStatus > div,
    > div.adminStatus > div {
      border-radius: 87px;
      padding: 4px 8px;
    }

    > div.mainStatus > div {
      &.timeLeft {
        &.soon {
          background-color: $soonBackground;
        }

        &.comingUp {
          background-color: $comingUpBackground;
        }

        &.farOff {
          background-color: $farOffBackground;
        }
      }

      &.live {
        background-color: $liveBackground;
      }

      &.complete {
        background-color: $completeBackground;
      }

      &.incomplete {
        background-color: $incompleteBackground;
      }

      &.uninitialized {
        background-color: $uninitializedBackground;
      }
    }

    > div.adminStatus > div {
      &.paused {
        background-color: $pausedBackground;
      }

      &.closed {
        background-color: $closedBackground;
      }
    }
  }
}
