@import "styles/colors.scss";
.circledNumber {
  border-radius: 50%;
  text-align: center;
  background-color: $Border01;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    background-color: $Secondary02;
  }
  > .value {
    color: $BG01;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}
