@import "src/styles/variables";

.discussions-list {
  .table {
    width: 100%;
    .thead, .tbody>.tr {
      display: grid;
      grid-template-columns: 30px 1fr 75px 75px;
      grid-template-areas: "idx topic replies activity";
      justify-content: space-around;
      gap: $spacing-normal;
    }
    .thead {
      font-weight: 700;
      font-size: 14px;
      border-bottom: 1px solid $Secondary02;
      span {
        padding: $spacing-normal $spacing-small;
        text-transform: uppercase;
      }
    }
    .tbody {
      .tr {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        border-bottom: 1px solid $Border01;

        cursor: pointer;
        &:hover {
          background-color: $BG02;
        }
      }
      .td {
        @include pre;
        word-wrap: anywhere;
        padding: $spacing-normal $spacing-small;
        .creator {
          padding-top: $spacing-small;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          color: $Neutral02;
          height: 17px;
          i {
            display: inline;
            width: 12px;
            height: 12px;
            padding: 2px;
            padding-right: 7px;
            font-size: 12px;
          }
        }
      }
    }
    .idx {
      grid-area: idx;
    }
    .topic {
      grid-area: topic;
    }
    .replies {
      grid-area: replies;
    }
    .activity {
      grid-area: activity;
    }
    .created-at {
      grid-area: created;
    }
    .v-centered {
      vertical-align: middle;
    }
    .h-centered {
      text-align: center;
    }
  }

  .pagination {
    &.container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $spacing-normal;
      padding: $spacing-normal;
    }

    .button {
      display: flex;
      border-radius: 2px;
      width: 26px;
      height: 26px;
      justify-content: center;
      align-items: center;
      font-family: "Inter";
      font-size: 16px;
      font-weight: 400;
      >.tertiary {
        padding: $spacing-small;
      }
      &.active, &:hover, &:focus {
        background-color: $BG02;
        color: $White;
      }
    }
  }

  .instructions {
    margin-bottom: $spacing-normal * 2;
  }
  .connect-link {
    color: $Primary01;
    font-weight: 700;
  }

}

.mobile.only {
  display: none;
}
.desktop.only {
  display: inline;
}

@media screen and (max-width: 745px) {
  .mobile.only {
    display: inline;
  }
  .desktop.only {
    display: none;
  }
  .discussions-list {
    .table {
      .thead, .tbody>.tr {
        grid-template-columns: 30px 1fr auto auto;
      }
      .thead {
        grid-template-areas:
          "idx topic topic topic";
      }
      .tbody {
        .tr {
          grid-template-rows: 1fr 30px;
          grid-template-areas:
            "idx topic topic topic"
            ". created replies activity";
          gap: 0 $spacing-normal * 2;

          .created-at, .replies, .activity {
            font-size: 14px;
            font-weight: 400;
            color: $Neutral02;
            line-height: 17px;
            padding: 0;
            padding-bottom: $spacing-normal;
          }
        }
      }
    }
  }
}