@import "styles/styles.scss";
@import "src/resources/elements/primeDesignSystem/styles";

.single.comment {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px 1fr auto;
  grid-template-areas: "header" "comment" "footer";
  height: auto;
  grid-gap: $spacing-normal;

  justify-content: flex-start;
  align-items: center;
  padding: $spacing-normal * 2 $spacing-normal;

  &.odd{
    background-color: $BG00;
  }
  &.even{
    background-color: $BG01;
  }

  &.highlighted {
    background-color: $BG05;
  }

  .header {
    grid-area: header;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    gap: $spacing-normal * 2;
    .avatar {
      img {
        height: 30px;
        vertical-align: middle;
      }
    }
    .lastActivity {
      margin-left: auto;
    }
  }

  .body {
    grid-area: comment;
    padding-left: $spacing-normal * 2 + 30px;
    .replyContainer {
      display: flex;
      align-items: center;
      margin-left: -$spacing-normal;
      .reply {
        width: 100%;
        &.odd{
          background-color: $BG01;
        }
        &.even{
          background-color: $BG00;
        }
        &>div {
          display: flex;
          align-items: center;
          gap: $spacing-small;
          margin-bottom: $spacing-normal;

          &>figure {
            height: 22.5px;
            width: 22.5px;
          }
          &>.identity {
            vertical-align: middle;
            .address {
              font-size: 8px;
              line-height: 9.5px;
              font-weight: 400;
              a, i {
                color: $Neutral02 !important;
              }
            }
            .name, .only.address {
              font-size: 9px;
              font-weight: 700;
              line-height: 13.5px;
              a, i {
                color: $White !important;
              }
            }
          }
        }
        &>p {
          color: $Neutral02;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;

          // truncate text to fit one line in the comment box:
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }
        border: 1px solid $Border01;
        border-radius: $border-radius-small;
        padding: $spacing-medium-small;
        margin-bottom: $spacing-normal;
      }
    }
  }

  .footer {
    grid-area: footer;
    display: flex;
    height: 29px;
    justify-content: flex-end;
    gap: $spacing-normal;
    pbutton>button {
      padding: $spacing-small $spacing-normal;
    }

    .count {
      display: inherit;
      align-items: center;
      .upVote {
        color: $AlertGreen;
      }
      .downVote {
        color: $AlertRed;
      }
      .spinner {
        color: $Primary01;
      }
    }

    .action {
      display: none;
      align-items: center;
    }
  }

  &:hover {
    .footer>.vote.count.isConnected {
      display: none;
    }
    .footer>.vote.action {
      display: inherit;
    }
  }
}
