rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isReadyDeal() {
      return resource.data.meta.isReady;
    }

    function isPublicDeal() {
      return !resource.data.registrationData.isPrivate;
    }

    function userIsProposalLead() {
      return request.auth.uid == resource.data.registrationData.proposalLead.address;
    }

    function userIsRepresentative() {
      return request.auth.uid in resource.data.meta.representativesAddresses;
    }

    function userIsAuthenticated() {
      return request.auth != null;
    }

    function updateOnlyToDiscussions() {
      return request.resource.data.diff(resource.data).affectedKeys().hasOnly(['discussions']);
    }

    match /deals/{deal} {
      allow read: if isReadyDeal() && (isPublicDeal() || userIsProposalLead() || userIsRepresentative());
      allow create: if userIsAuthenticated() && !request.resource.data.meta.isReady;
      allow update: if userIsProposalLead() || (userIsRepresentative() && updateOnlyToDiscussions()); // && !request.resource.data.meta.isReady;
      allow delete: if false;
    }
    
    match /deals/{deal}/primary-dao-votes/{representative} {
    	allow read, create, delete: if false;
    	allow update: if request.auth.uid == resource.id;
    }

    match /deals/{deal}/partner-dao-votes/{representative} {
    	allow read, create, delete: if false;
    	allow update: if request.auth.uid == resource.id;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}