@import "../styles.scss"; // so that pcard gets pulled in

body > ux-dialog-overlay.active {
  opacity: 0.4;
  background-color: $Black;
}

body.ux-dialog-open {
  overflow: initial; // so scrollbars don't get hidden
}

body > ux-dialog-container.pcard {
  overflow: hidden;
  top: 10vh;
  right: 10vw;
  bottom: 10vh;
  left: 10vw;
  background-color: $Border01;
  box-shadow: $shadow-lg;
  padding: 0;

  > div {
    margin: 0 !important;
    padding: 0;
    height: 100%;
    > div {
      height: 100%;
      width: 100%;

      > .dialog {
        height: 100%;
        width: 100%;
        display: flex;
        box-shadow: none;
        flex-direction: column;
        min-width: 160px;
        border: none;

        > .header,
        > .body,
        > .footer {
          border: none;
        }

        > .header {
          white-space: pre-wrap;
          word-break: break-word;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0;
          text-align: left;
          padding: 34px 36px 0 40px;
        }

        > .body {
          overflow: auto;
          flex-grow: 2;
          padding: 12px 36px 24px 40px;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0;
          text-align: left;
        }

        > .footer {
          padding-right: 40px;
          padding-top: 8px;
        }

        // &.disclaimer {
        //   .checkbox {
        //     margin-right: 10px;
        //   }
        //   .action-buttons {
        //     display: inline-flex;
        //     flex-wrap: wrap;
        //     align-items: center;
        //     justify-content: flex-end;
        //   }
        //   .bodyContainer {
        //     white-space: pre-wrap;
        //     word-break: break-word;

        //     img {
        //       max-width: 100%;
        //     }
        //   }

        //   &.loading {
        //     text-align: center;
        //     padding-top: 32px;
        //     i {
        //       color: $Primary01;
        //       font-size: 28px;
        //     }
        //   }
        // }
      }
    }
  }
}

body > .dialog-overlay {
  background-color: $BG01;
}

@media screen and (max-width: 680px) {
  body > ux-dialog-container.pcard {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    > div > div {
      > .dialog {
        min-width: 0;

        > .header {
          white-space: normal;
          text-align: center;
          line-height: 44px;
        }

        > .body {
          border-radius: 0;
          padding: 28px;
        }

        > .footer {
          display: flex;
          flex-direction: column;
          text-align: center;
          .action-buttons {
            justify-content: center;
          }
        }
      }
    }
  }
}

body > ux-dialog-container.pcard.pPopupModal {
  top: 50%;
  right: unset;
  bottom: unset;
  left: 50%;
  transform: translate(-50%, -50%);

  > div > div {
    > .dialog {
      > .footer {
        border-top-width: 0;
        padding: 20px 40px 20px 40px;
        text-align: right;
        .button1 {
          &.small {
            width: 98px;
          }
        }
      }
    }
  }
}
