@import "../dialogs.scss";
@import "../styles.scss"; // so that pcard gets pulled in

body > ux-dialog-container.pcard.pPopupModal {
  top: 50%;
  right: unset;
  bottom: unset;
  left: 50%;
  transform: translate(-50%, -50%);

  > div > div {
    > .dialog {
      > .footer {
        border-top-width: 0;
        padding: 20px 40px 20px 40px;
        text-align: right;
        .button1 {
          &.small {
            width: 98px;
          }
        }
      }
    }
  }
}
