@import "src/styles/colors.scss";
@import "src/styles/variables";

.deal-carousel {
  margin-bottom: 64px;

  .scrollerContainer {
    margin-bottom: 28px;

    .scroller {
      deal-summary {
        margin-right: $spacing-normal * 2;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  > .carousel-selector {
    display: flex;
    -webkit-text-fill-color: $Neutral02;
    border-bottom: 2px solid $Border01;
    width: 100%;
    transition: background 1s ease-in-out;
    font-family: Aeonik;
    margin-bottom: 40px;

    :not(:first-child) {
      margin-left: 63px;
    }

    > .selector-tab {
      cursor: pointer;

      &:hover:not(.active) {
        -webkit-text-fill-color: $Neutral04;
      }
    }

    > .active {
      background: $Gradient02;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      border-bottom: 6px solid;
      @include border-gradient($Gradient02);
      padding-bottom: 19px;
    }
  }

  > .dealsButton {
    margin-top: 28px;
    margin-bottom: 150px;

    button.tertiary {
      color: $Neutral03;
      opacity: 0.3;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .loading {
    text-align: center;
    font-size: 32px;
    padding-top: 24px;

    i {
      color: $Secondary07;
    }
  }
}

@media screen and (max-width: 900px) and (min-width: 550px) {
  .deal-carousel {
    padding: 0 45px;
  }
}

@media screen and (max-width: $PageBreakWidth) {
  .deal-carousel {
    .carousel-selector {
      margin-bottom: 20px;

      :not(:first-child) {
        margin-left: 20px;
      }

      .selector-tab {
        font-size: $font-size3;
      }
    }

    .scrollerContainer {
      margin-bottom: 0;

      .scroller deal-summary {
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .dealSummary {
          text-align: left;
        }
      }
    }

    .dealsButton {
      margin-bottom: 80px;
    }
  }
}
