$Primary01: #ff597a; // Accent color
$Primary02: #8668fc; // Accent color
$Secondary01: #ff99cc; // Accent color
$Secondary02: #a258a7; // Accent color
$Secondary03: #fff619; // Accent color
$Secondary04: #ffce3d; // Accent color
$Secondary05: #64557d; // Accent color
$Neutral01: #15062d; // -
$Neutral02: #9398a8; // -
$Neutral03: #dcdae5; // -
$Neutral04: #f9f6f9; // -
$White: #ffffff; // -
$BG01: #1b1722; // Background
$BG02: #292235; // Background
$BG03: #0e0e0e; // Background
$BG04: #151318; // Background
$Border01: #403453; // Border
$Border02: #292236; // Border
$Border03: #372a4b; // Border
$Red: #ff5252; // Fail
$Orange: #ffb155; // Warning
$Green: #38de67; // Success
$Shade01: #ff497a; // Graph
$Shade02: #fc4d92; // Graph
$Shade03: #f149ad; // Graph
$Shade04: #dc4ec9; // Graph
$Shade05: #bb5ae4; // Graph
$Shade06: #8668fc; // Graph

$Gradient01: linear-gradient(220.2deg, #ff497a 0%, #a258a7 100%);
$Gradient02: linear-gradient(220.2deg, #8668fc 0%, #a258a7 100%);
$Gradient03: linear-gradient(220.2deg, #dcdae5 0%, #9398a8 100%);
$Gradient04: linear-gradient(220.2deg, #f9f6f9 0%, #dcdae5 100%);
$Gradient05: linear-gradient(220.2deg, #2d062b 0%, #15062d 100%);
$Gradient06: linear-gradient(220.2deg, #2a204a 0%, #15062d 100%);
$Gradient07: linear-gradient(220.2deg, #30ef71 0%, #41a0c9 100%);
