@import "./styles.scss";

/**
 * These are the default styles for ppopup-modal dialogs.
 */
.ppopup-dialog {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 160px;

  &.pcard.gradient {
    @include pcardBgAndGradient($backgroundColor: $Border01);
  }

  > .dialogHeader,
  > .dialogBody,
  > .dialogFooter {
    border: none;
  }

  > .dialogHeader {
    white-space: pre-wrap;
    word-break: break-word;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0;
    color: $Neutral04;
    text-align: left;
    padding: 28px 30px 12px 34px;
    overflow-y: hidden;
  }

  > .dialogBody {
    overflow: auto;
    flex-grow: 2;
    padding: 0 30px 28px 34px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: $Neutral03;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  > .dialogFooter {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    color: $Neutral04;
    text-align: right;
  }
}

@media screen and (max-width: 680px) {
  .ppopup-dialog {
    min-width: 0;

    > .dialogHeader {
      white-space: normal;
      text-align: center;
      line-height: 44px;
    }

    > .dialogBody {
      border-radius: 0;
      padding: 28px;
    }

    > .dialogFooter {
      display: flex;
      flex-direction: column;
      border-top-width: 0;
      padding: 14px 34px 14px 34px;
      row-gap: 8px;
      text-align: center;
    }
  }
}
