@import "./colors.scss";
@import "./variables.scss";

/**
  This class was added here and not in every individual component so it can be used on any element when necessary.
 */
.pInput {
  font-style: normal;
  font-weight: normal;
  font-size: $font-size2;
  line-height: 23px;
  border: 1px solid $Border01;
  background: $BG04;
  color: $Neutral04;
  border-radius: $border-radius-normal;
  outline: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: $input-height;
  cursor: text;
  overflow: hidden;
  width: 100%;
  padding: $spacing-normal;

  &::placeholder {
    color: $Neutral02;
  }

  &-validating {
    border-color: $Neutral04;
  }

  &:focus:not(&-error):not(&-warning) {
    border-color: $Secondary02;
  }

  &:disabled {
    background-color: $BG01;
    cursor: not-allowed;

    color: $Secondary05;

    &::placeholder {
      color: $Secondary05;
    }

  }

  &-error {
    border-color: $Red;

  }

  &-warning {
    border-color: $Orange;
  }

  &-validating, &-warning, &-error {
    padding-right: 34px;
  }

}

.pInput-parent {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: $border-radius-normal;
  overflow: hidden;

  .feedback-icon {
    right: $spacing-normal;
    top: calc(50% - 8px); // centers the icon
    position: absolute;
  }

  &.pInput-parent-error .feedback-icon {
      color: $Red;
  }

  &.pInput-parent-warning .feedback-icon {
      color: $Orange;
  }
}
