@import "./colors";

$border-radius-normal: 10px;

$logo-icon-size-small: 20px;
$logo-icon-background-default: $Neutral03;

$spacing-small: 5px;
$spacing-medium-small: 7.5px;
$spacing-normal: 10px;

$input-height: 40px;

$input-border-color-default: $Border01;
$input-border-color-active: $Secondary02;
$input-border-color-disabled: $Secondary05;
$input-border-color-warn: $Border01;
$input-border-color-alert: $Border01;

$input-background-color-default: $BG04;

$input-text-color-default: $Neutral02;
$input-text-color-highlighted: $Neutral04;
$input-text-color-disabled: $Secondary05;

$scroll-bar-thumb-color: $Neutral02;

@mixin spin {
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
}

@mixin loading-icon {
  .loading > i {
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: $Primary01;
  }

  @include spin;
}
