@import "src/styles/colors";
.etherscan-button {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  a {
    display: inline-block;
  }
  svg {
    outline: none;
    path {
      fill: $Secondary05;
    }
    cursor: pointer;
    &:hover > path {
      fill: $White;
    }
  }
}
