@import "src/resources/elements/primeDesignSystem/variables";

deal-menubar {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: end;
  grid-column-gap: 10px;
  grid-row-gap: 20px;

  i.fas {
    font-size: 20px;
  }

  .rateDeal {
    margin-right: 80px;
  }

  .shareButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    gap: 10px;
  }


  @media screen and (max-width: 700px) {
    grid-template-columns: auto auto;
    justify-content: center;
    .shareButton {
      grid-column: 1/ span 2;
    }
  }
}
