@import "styles/styles.scss";
.page.initiate {
  font-size: 28px;
  display: flex;
  flex-flow: column wrap;
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 78px;

    > .subtext {
      font-family: Inter;
      font-weight: 700;
      font-size: 18px;
      color: $Neutral03;
      line-height: 27px;
      text-align: center;
      max-width: 615px;
    }
  }
  .initiateBoxes {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    gap: 24px;
    justify-content: center;
    .title {
      font-size: 36px;
      line-height: 65px;
    }

    .initiate-box-container {
      background-color: $BG02;
      border-radius: 16px;
      display: grid;
      max-width: 368px;
      padding-top: 20px;
      padding-bottom: 35px;
      > div {
        padding-left: 30px;
        padding-right: 38px;
      }
      .topSection {
        padding-top: 6px;
        margin-bottom: 61px;
      }

      .buttonContainer {
        text-align: center;
        font-size: 8px;
        border-radius: 32px;
      }
      .container-footer {
        background-color: $Border01;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 32px;
        margin-top: 20px;

        > div {
          font-size: 14px;
          line-height: 33px;
          font-weight: normal;
          color: $Neutral03;
          padding-right: 18px;
        }
      }
    }
  }
  .noPartner {
    justify-content: center;
    padding-top: 47px;
    text-align: center;
    .button {
      margin: 0;
      margin-top: 11px;
    }
  }
  position: relative;
  &>.bg-image {
    position: absolute;
    z-index: -1;
    top: -135px;
    object-fit: cover;
    width: 950px;
  }
}

@media screen and (min-width: 1070px) {
  .page.initiate {
      &>.bg-image {
        right: -160px;
      }
  }
}

@media screen and (max-width: 900px) {
  .page.initiate {
    .banner {
      > .heading.heading1 {
        white-space: normal;
        text-align: center;
      }
      > .subtext {
        white-space: normal;
      }
    }
    .initiateBoxes {
      flex-flow: column;
      align-items: center;
      > div {
        width: 100%;
      }
      .initiate-box-container {
        .buttons {
          justify-content: space-evenly;
        }
        .container-footer {
          justify-content: center;
        }
      }
    }
    &>.bg-image {
      display: none;
    }
  }
}
