@import "styles/styles.scss";
.tokenPairContainer {
  height: 23px;
  padding-bottom: $spacing-normal;
  > img {
    @include tokenIcon;
    border: 1px solid $BG02;
  }

  > img:nth-child(2) {
    position: relative;
    right: $spacing-medium-small;
  }
}
