@import "styles/styles.scss";
@import "src/resources/elements/primeDesignSystem/styles";

.thread {
  grid-area: thread;
  .topic {
    font-family: "Inter";
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
  }
  hgroup {
    padding-bottom: $spacing-medium-small + $spacing-normal;
    border-bottom: 1px solid $Secondary02;
    span {
      display: flex;
      justify-content: space-between;
    }
  }
}
