@import "src/resources/elements/primeDesignSystem/variables";

deal-votes {
  font-family: $sub-heading;

  pcard.pcard {
    display: block;
    padding: 0;
    overflow: hidden;

    .content {
      padding: 20px;

      pbutton-group {
        margin: 20px 0 10px 0;

        pbutton {
          &.accept-active {
            button {
              background-color: $Green;
              color: $BG02;
            }
          }

          &.decline-active {
            button {
              background-color: $Primary01;
            }
          }

          button {
            gap: 12px;
            font-weight: 700;
          }
        }

      }

      .negotiate {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 35px;

        pbutton button.tertiary {
          gap: 12px;
          color: $Neutral02;

          img {
            filter: saturate(0) brightness(1.2);
          }
        }
      }

      .votes-subtitle {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 20px;
        font-family: $heading;
      }

      .representatives-votes-subtitle {
        margin-bottom: 10px;
      }

      .status-voting {
        color: $Orange;
      }
    }

    .funding {
      background-color: $Border01;
      padding: 20px;
      display: flex;
      justify-content: center;
      margin-top: 48px;

      .fundButton {
        button {
          gap: 10px;
        }
      }
    }

  }
}
