deal-votes {
  pcard.pcard {
    display: block;
    height: 500px; // temporary. remove after design is done

    /**
     * temporary to give us something while developing the funding page
     */
    .fundButton {
      i {
        margin-left: 6px;
      }
    }
  }
}
