@import "src/resources/elements/primeDesignSystem/variables";

deal-votes {
  font-family: $sub-heading;

  pcard.pcard {
    display: block;
    padding: 0;
    overflow: hidden;

    .content {
      padding: 20px;

      .title {
        font-size: 24px;
        margin-bottom: 20px;
        width: -moz-fit-content; // so gradients look right
        width: fit-content; // so gradients look right
      }

      pbutton-group {
        margin: 20px 0 10px 0;

        pbutton {
          &.acceptButtonActive {
            button {
              background-color: $Green;
              color: $BG02;
            }
          }

          &.declineButtonActive {
            button {
              background-color: $Primary01;
            }
          }

          button {
            font-weight: 700;
          }
        }

      }

      .negotiate {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .negotiateButton button {
          gap: 12px;
          color: $Neutral02;
          display: flex;
          align-items: center;
          margin: 17px 0 35px 0;
          cursor: pointer;

          &:hover {
            color: $Neutral04;

            img {
              filter: saturate(0) brightness(3) opacity(0.9);
            }
          }

          img {
            filter: saturate(1.5) brightness(3) contrast(0.3) opacity(0.9) hue-rotate(275deg);
          }

          object svg path {
            fill: red;
          }
        }
      }

      .votesSubtitle {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10px;
        font-family: $heading;
      }

      .dealStatusText {
        font-size: 14px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .addressLink a {
          color: $Neutral02;
        }
      }

      .representativesVotesSubtitle {
        margin-bottom: 10px;
      }

    }

    .funding {
      background-color: $Border01;
      padding: 20px;
      display: flex;
      justify-content: center;

      .fundButton {
        button {
          gap: 10px;
        }
      }
    }
  }
}
