@import "../styles";
@import "../variables";

$pformInputLineHeight: 33px;

pform-input {
  display: block;

  .formInputLabel {
    display: flex;
    color: $Secondary02;
    align-items: center;
    justify-content: space-between;

    .formInputLabelTitle {
      @include subHeading;
      font-size: $font-size3;
      font-weight: 700;
      line-height: $pformInputLineHeight;
    }

    .formInputLabelExtra {
      color: $Neutral02;
      font-size: $font-size1;
    }

    .labelInfoIcon {
      margin-left: 6px;
    }
  }

  .labelDescription {
    white-space: pre-line;
    line-height: 24px;
    color: $Neutral03;
  }

  .inputContainer {
    margin-top: 10px;
  }


}
