@import "../../../../resources/elements/primeDesignSystem/_variables.scss";

.termsStageSectionContent {
  width: $stageContentWidthDesktop;
  word-wrap: break-word;

  editing-card {
    pcard {
      margin-bottom: 32px;
    }
  }

  .addClauseButton {
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .fa {
      margin-left: 16px;
    }
  }
}
