<template>
  <pform-input input-reference.bind="select">
    <pselect
      view-model.ref="select"
      data.bind="availableSocialMedias"
      value.bind="socialMedia.name & validate:form"
      disabled.bind="disabled">
    </pselect>
  </pform-input>
  <pform-input input-reference.bind="input">
    <pinput-text
      view-model.ref="input"
      placeholder="${socialMedia.name ? `Your ${socialMedia.name}` : 'Platform'} URL (https://...)"
      value.bind="socialMedia.url & validate:form"
      disabled.bind="disabled">
    </pinput-text>
  </pform-input>
</template>
