@import "src/resources/elements/primeDesignSystem/variables";

$termsCardMinHeight: 276px;

pcard {
  display: block;
  padding: 20px;
  min-height: $termsCardMinHeight;

  .cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;

    .deleteButton {
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .fa {
        margin-left: 16px;
      }
    }
  }
}

.wizardStage {
  .wizardFormInput {
    margin-bottom: unset;
  }
}
