@import "src/resources/elements/primeDesignSystem/variables";

pcard {
  display: block;
  padding: 20px;

  .cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 50px;

    .deleteButton {
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .fa {
        margin-left: 16px;
      }
    }
  }
}
