@import "src/resources/elements/primeDesignSystem/variables";
@import "src/styles/variables";

term-clause {
  display: block;

  .pcard {
    .wizardFormInput {
      margin-bottom: unset;
    }
  }

  .clause__title {
    font-weight: $font-bold;
    margin-bottom: $spacing-normal;
    line-height: 24px;
    color: $Neutral03;
  }

  .ck.ck-editor:focus-within {
    border-radius: $border-radius-normal;
    box-shadow: 0 0 0 1px $Secondary02;
  }

  .ckEditor__output,
  .ck.ck-content {
    a {
      color: #eba7da;
    }
  }

  @include ckeditor-content;

  .ck.ck-editor__main,
  .ck.ck-content {
    min-height: 110px;
    resize: vertical;
  }

  .formInputLabelTitle {
    line-height: 33px;
  }

  pform-input {
    .pInput {
      font-size: $font-size3;
    }

    .inputContainer {
      margin-top: unset;

      @include pre($font-size3);
    }

    .formInputLabel {
      margin-bottom: unset;
    }
  }
}