@import "src/resources/elements/primeDesignSystem/variables";

term-clause {
  .formInputLabelTitle {
    line-height: 33px;
  }

  pform-input {
    .pInput {
      font-size: $font-size3;
    }

    .inputContainer {
      margin-top: unset;

      pre {
        white-space: pre-wrap;
        font-family: Inter;
        font-size: $font-size3;
        line-height: 22px;
      }
    }

    .formInputLabel {
      margin-bottom: unset;
    }
  }
}
