@import "src/resources/elements/primeDesignSystem/variables";

term-clause {
  display: block;

  .pcard {
    .wizardFormInput {
      margin-bottom: unset;
    }
  }

  .clause__title {
    font-weight: $font-bold;
    margin-bottom: $spacing-normal;
    line-height: 24px;
    color: $Neutral03;
  }

  .ck.ck-editor:focus-within {
    border-radius: $border-radius-normal;
    box-shadow: 0 0 0 1px $Secondary02;
  }

  .ck.ck-editor {
    &.isInvalid {
      border: 1px solid $Red;
      border-radius: $border-radius-normal
    }
  }

  .ckEditor__output,
  .ck.ck-content {
    color: $Neutral03;

    i,
    em {
      font-style: italic;
    }

    u {
      text-decoration: underline;
    }

    strong {
      font-weight: bold;
    }

    ul {
      margin-bottom: 15px;

      li {
        list-style-type: disc;
        list-style-position: inside;
        margin-bottom: 5px;
      }
    }

    ol {
      margin-bottom: 15px;

      li {
        list-style-type: decimal;
        list-style-position: inside;
        margin-bottom: 5px;
      }
    }

    a {
      color: #eba7da;
    }
  }

  .ck.ck-editor__main,
  .ck.ck-content {
    min-height: 110px;
    resize: vertical;
  }

  .formInputLabelTitle {
    line-height: 33px;
  }

  pform-input {
    .pInput {
      font-size: $font-size3;
    }

    .inputContainer {
      margin-top: unset;

      @include pre($font-size3);
    }

    .formInputLabel {
      margin-bottom: unset;
    }
  }
}