@import "styles/styles.scss";

@mixin logo($url) {
  -webkit-mask: url("/static/" + $url) no-repeat center;
  mask: url("/static/" + $url) no-repeat center;
}

deal-info {
  pcard.pcard {
    display: block;
    height: 500px; // temporary. remove after design is done
    padding: $spacing-normal * 2 $spacing-normal * 2.4;

    .title {
      margin-bottom: $spacing-normal * 2;
    }
    .daoDetails {
      display: grid;
      grid-gap: 6px;
      grid-template-columns: 32px 1fr 1fr;
      align-items: center;
      width: 100%;
      font-family: Aeonik;
      font-weight: 400;
      font-size: 16px;
      line-height: 14px;
      padding: $spacing-normal 0;
      border-bottom: 1px solid $Border01;
      &:first-of-type {
        border-top: 1px solid $Border01;
      }
      img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
      }
      div {
        display: grid;
        grid-gap: $spacing-small;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
    
          &.social {
            display: grid;
            grid-template-columns: repeat(auto-fit, 16px);
            align-items: center;
    
            a {
              display: inline-flex;
              // margin-inline-end: $spacing-small;
              .twitter,
              .discord,
              .telegram,
              .reddit,
              .linkedin {
                width: 16px;
                height: 16px;
                transform: scale(0.8);
                background-color: $Secondary05;
                &:hover {
                  background-color: $Neutral03;
                }
              }
              .twitter {
                @include logo("twitter.svg");
              }
              .discord {
                @include logo("discord.svg");
              }
              .telegram {
                @include logo("telegram.svg");
              }
              .reddit {
                @include logo("reddit.svg");
              }
              .linkedin {
                @include logo("linkedin.svg");
              }
            }
          }
        }
      }
      .sectionTitle {
        text-align: right;
      }
    }
    .sectionTitle {
      font-weight: 700;
      color: $Neutral02;
    }
    .dealDetails {
      padding: $spacing-normal 0;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: $spacing-normal;
      .sectionTitle {
        line-height: 24px;
      }
      .detail {
        text-align: right;
      }
    }
    .separator {
      margin: $spacing-normal 0;
      background-color: $Border01;
    }
  }

}
