@import "src/resources/elements/primeDesignSystem/variables";

deal-info {
  pcard.pcard {
    font-family: 'Inter', sans-serif;

    .title {
      margin-bottom: 24px;
    }

    color: $Neutral04;
    display: block;
    padding: 20px 24px;

    hr {
      background-color: $Border01;
    }

    .daoDetails {
      display: flex;
      flex-direction: row;
      gap: 6px;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .daoTitle {
        text-overflow: ellipsis;
        overflow: hidden;

        .daoSocialLinks {
          display: flex;
          flex-direction: row;
          gap: 7px;

          i {
            font-size: 16px;
            color: $Secondary05;
          }
        }
      }

    }

    .tokenDetails {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .makeLabelSmaller {
      flex: 0;
    }

    .moreSpaceForLinks {
      flex: 1;
      justify-content: flex-end;
    }

  }

  .infoSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 12px 0;

    .infoTitle {
      font-size: $font-size2;
    }
  }
}
