@import "../resources/elements/primeDesignSystem/colors";
/**
 * All of these are potentially obsolete.  Should strive to replace them
 * where the colors can be replaced by those in the Prime design system.
 */
$Secondary06: #5399ff;
$Secondary07: #1ee0fc;
$Black: #000000;
$BG00: #151318;
$BG05: #40444f;
