@import "../resources/elements/primeDesignSystem/colors";
/**
 * All of these are potentially obsolete.  Should strive to replace them
 * where the colors can be replaced by those in the Prime design system.
 */
$Secondary06: #5399ff;
$Secondary07: #1ee0fc;
$Black: #000000;
$Gradient08: linear-gradient(45deg, #ff4979 0%, #ff4979 50%, #a258a7 100%);
$BG00: #151318;
$BG05: #40444f;
$AlertRed: #ff5252;
$AlertOrange: #ffb155;
$AlertGreen: #3abb5e;
