@import "../resources/elements/primeDesignSystem/variables";
@import "src/styles/variables";

.page.home {
  .section {
    &.hero {
      margin-bottom: 16px;
    }

    &.top {
      padding-top: $MainContentExtraPaddingTop;

      .heading01Gradient {
        padding-bottom: 5px;
      }

      > .heading04 {
        max-width: 485px;
        margin-bottom: 80px;
      }

      .cards {
        display: flex;
        margin-bottom: 200px;

        .pcard {
          width: clamp(100px, 100%, 335px);
          padding: 12px 24px 24px 24px;
          align-self: normal;

          &.gradient:hover {
            @include pcardBgAndGradient($backgroundColor: $Border01);
          }

          header {
            display: flex;
            font-size: 28px;
            line-height: 65px;
            justify-content: space-between;
            align-items: center;
            color: $White;

            .icon {
              font-weight: 400;
            }
          }
        }

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        cursor: pointer;
        gap: 40px;
      }
    }

    &.hero {
      display: grid;
      grid-template-columns: minmax(auto, 470px) minmax(330px, 800px);
      align-content: center;
      justify-content: space-between;
      column-gap: 24px;
      align-items: center;
      border-radius: 6px;

      .heroColumn {
        display: grid;
        row-gap: 24px;

        .notifyButton {
          border-radius: 100px;
          flex-grow: 1;
          max-width: 250px;
        }

        align-self: center;

        & > .introVideo {
          width: 100%;
          border-radius: 6px;
          aspect-ratio: 16 / 9;
        }

        .disclaimer {
          text-align: left;

          a {
            color: $Neutral02;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .centered {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: $PageBreakWidth) {
  .page.home {
    .section {
      &.top {
        width: 100%;

        .heading01Gradient {
          font-size: 36px;
          margin-bottom: 28px;
        }

        .heading01Gradient,
        .heading04 {
          text-align: center;
          max-width: none;
        }

        .cards {
          justify-content: center;
          grid-auto-flow: row;
          width: 100%;
          align-items: center;
          margin-bottom: 80px;
          gap: 28px;
        }
      }

      &.hero {
        grid-template-columns: auto;
        row-gap: 28px;
        margin-bottom: 0;
      }
    }
  }
}
