@import "styles/styles.scss";

.page.home {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background-image: url("/static/home-bg-top.gif");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -160px;
    width: calc(100% + 320px);
    height: 800px;
    top: -150px;
    z-index: -1;
  }
  .section {
    &.hero,
    &.deals {
      margin-bottom: 100px;
    }


    &.top {
      width: 56%;
      margin-bottom: 200px;

      .title {
        white-space: normal;
        background: $Gradient08;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        padding-bottom: 5px;
        max-width: 645px;
      }

      > .subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        max-width: 485px;
        color: $Neutral03;
        margin-bottom: 80px;
        white-space: normal;
      }

      .buttons {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        cursor: pointer;
        width: 710px;
        grid-gap: 24px;
        .buttonContainer {
          display: flex;
          border-radius: 6px;
          overflow: hidden;
          & .header {
            -webkit-text-fill-color: white;
          }
        }
        .contribute,
        .launch {
          border-left-width: 6px;
          border-right-width: 0;
          border-left-style: solid;
          border-image: linear-gradient(to bottom, #ff497a, #a258a7) 1 100%;
          border-radius: 6px;
          background-color: $BG02;
          width: 300px;

          padding: 18px;

          .title {
            display: flex;
            justify-content: space-between;
            color: $White;
            margin-bottom: 16px;
            margin-right: 6px;

            .header {
              font-weight: bold;
              font-family: "Aeonik";
              font-size: 28px;
              white-space: nowrap;
              padding-right: 16px;
            }

            .arrow {
              font-size: 28px;
            }
          }

          .subtitle {
            color: $Neutral03;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            font-family: "Inter";
          }
        }
      }
    }

    &.deals {
      .scrollerContainer {
        margin-bottom: 28px;
      }

      > .selector {
        padding-bottom: 29px;
        :not(:first-child) {
          margin-left: 30px;
        }
        >.selector-tab {
          cursor: pointer;
        }
      }
      > .heading1 {
        -webkit-text-fill-color: $Neutral02;
        border-bottom: 2px solid $Border01;
        margin-left: 130px;
        width: calc(100% - 260px);
        transition: background 1s ease-in-out;
        >.active {
          background: $Gradient02;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          border-bottom: 6px solid $Secondary02;
          padding-bottom: 19px;
        }
        padding-top: 55px;
        margin-bottom: 53px;
      }
      > .dealsButton {
        text-align: center;
        padding: 2em;
      }
      .loading {
        text-align: center;
        font-size: 32px;
        padding-top: 24px;
        i {
          color: $Secondary07;
        }
      }

      margin: 0 -160px;
      padding: 0 30px;
      &.open {
        background: $BG03;
        margin-bottom: 53px;
      }
    }

    &.hero {
      display: grid;
      grid-template-columns: minmax(auto, 450px) minmax(330px, 800px);
      background-color: $BG01;
      align-content: center;
      justify-content: space-between;
      column-gap: 24px;
      align-items: center;
      border-radius: 6px;

      .heroColumn {
        &.title {
          font-family: "Aeonik";
          margin-bottom: 0px;
        }

        display: grid;
        row-gap: 24px;
        .subtitle.subtext {
          color: $Secondary02;
          font-size: 20px;
          line-height: 24px;
          font-weight: 700;
          font-family: Inter;
        }

        .notifyButton {
          border-radius: 100px;
          flex-grow: 1;
          max-width: 250px;
        }

        align-self: center;
        &>.introVideo {
          width: 100%;
          border-radius: 6px;
          display: flex;
          margin-bottom: 4px;
          justify-content: left;
        }

        .disclaimer {
          text-align: left;
          a {
            color: $Neutral02;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1072px) {
  .page.home {
    .section {
      &.top,
      &.deals,
      &.hero .heroColumn {
        > .title {
          white-space: normal;
          max-width: unset;
          padding-left: unset;
        }
      }

      &.top {
        width: 100%;
        > .subtitle {
          margin-bottom: 48px;
          max-width: unset;
        }

        .buttons {
          justify-content: center;
          grid-auto-flow: row;
          width: 100%;
          align-items: center;

        }
      }

      &.deals {
        .scrollerContainer {
          margin-bottom: 0;
        }
      }

      &.hero {
        grid-template-columns: auto;
        padding: 20px;
        row-gap: 24px;

        .heroColumn {
          justify-content: center;
          > .subtitle.subtext {
            margin-bottom: 12px;
          }

          &>.introVideo {
            justify-content: center;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 680px) {
  .page.home {
    .section {
    }
  }
}
