@import "../../../../../resources/elements/primeDesignSystem/_variables.scss";

dao-information {
  .daoNameAndLogo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 18px;

    h3 {
      font-size: $font-size4;
      font-weight: $font-bold;
      line-height: 28px;
    }
  }
}
