@import "styles/styles.scss";

.progress-bar {
  width: 100%;
  overflow: hidden;
  background-color: $Border01;
  border-radius: 11px;
  height: 100%;
  > div {
    background-color: $Green;
    height: 100%;
  }
}
