@import "styles/colors.scss";

.connectButtonContainer {
  display: inline-block;
  padding: 0;
  z-index: 1000; // stay over modal mask
  font-family: Inter;
  color: $Neutral02;

  .connectButton {
    > pbutton > button {
      border-radius: 6px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      letter-spacing: unset;
      padding: 8px 10px;
      text-transform: none;
      transition: none;
      color: $Neutral03;
      height: 13px;
      align-items: center;

      &:focus {
        box-shadow: none;
      }

      &:hover:enabled,
      &:hover:active:not(.disabled):not(:disabled),
      &:focus:active:not(.disabled):not(:disabled) {
        background: $Gradient01;
        border: none;
        transform: none;
        padding: 8px 10px;
        height: 13px;
        align-items: center;
        &.connect {
          padding: 10px 12px;
        }
      }

      .address {
        .caret {
          display: inline-block;
          padding-left: 4px;
        }
      }
    }
  }

  .connectedButtons {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    .ethBalanceContainer {
      display: inline-block;
      white-space: nowrap;
      font-size: 14px;
      margin-right: 20px;

      &.ETH {
        margin-right: 12px;
      }
    }
  }

  &.connected {
    padding-left: 14px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;

    // .separator {
    //   display: inline-block;
    //   margin-left: 0.5em;
    //   margin-right: 0.5em;
    //   position: relative;
    //   bottom: 1px;
    //   color: $White;
    // }

    .connectedButtons {
      .connectButton {
        cursor: default;
        text-align: center;
        // color: white;
        // background-color: $BG05;
        // border-color: transparent;
        // border-radius: 0.75rem;
        // border: 1px solid;

        .pending {
          .phase {
            display: inline-block;
            margin-right: 6px;
          }
          i {
            color: $Neutral03;
          }
          &.confirming {
            cursor: pointer;
            .phase:hover {
              text-decoration: underline;
            }
          }
        }

        .etherscanlink a {
          color: white;
          text-decoration: none;

          &:hover,
          &:focus {
            color: white;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1068px) {
  .connectButtonContainer {
    &.connected {
      padding-left: 0;
      .connectedButtons {
        .connectButton {
          margin-left: 0;
        }
        //.separator,
        .ethBalanceContainer {
          display: none;
        }
      }
    }
  }
}
