@import "styles/colors.scss";

@property --colorPrimary {
  syntax: '<color>';
  initial-value: #00000000;
  inherits: false;
}

@property --colorSecondary {
  syntax: '<color>';
  initial-value: #00000000;
  inherits: false;
}

@property --colorTertiary {
  syntax: '<color>';
  initial-value: #00000000;
  inherits: false;
}

.connectButtonContainer {
  display: inline-block;
  padding: 0;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  z-index: 1000; // stay over modal mask
  font-family: Inter;

  .connectButton {
    display: inline-block;
    padding: 0.6rem 0.9rem;
    border-radius: 0.75rem;
    white-space: nowrap;
    color: $Secondary05;
    background-color: $BG01;
    border: $BG05;
    cursor: pointer;
    font-weight: 500;

    &:hover,
    &:focus {
      color: $Secondary06;
    }
  }

  .connectedButtons {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    .ethBalanceContainer {
      display: inline-block;
      white-space: nowrap;
      color: $Neutral02;

      &.ETH {
        margin-right: 0.5em;
      }
    }
  }

  &.connected {
    padding-left: 14px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;

    .separator {
      display: inline-block;
      margin: 0 10px;
      position: relative;
      bottom: 1px;
      color: $Border01;
    }

    .connectedButtons {
      .connectButton {
        cursor: default;
        text-align: center;
        color: $Neutral03;
        background-color: $Border01;
        // transition: all 2s ease-in-out 2s;
        background-repeat: no-repeat;
        border-radius: 6px;
        background-image: linear-gradient(45deg, var(--colorPrimary) 0%, var(--colorSecondary) 50%, var(--colorTertiary) 100%);
        transition: --colorPrimary 0.3s, --colorSecondary 1.6s, --colorTertiary 2.9s;
        &:hover, &:active {
          --colorPrimary: #A258A7FF;
          --colorSecondary: #FF497AFF;
          --colorTertiary: #8668FCFF;
        }

        .pending {
          .phase {
            display: inline-block;
            margin-right: 6px;
          }
          i {
            color: $Secondary05;
          }
          &.confirming {
            cursor: pointer;
            .phase:hover {
              text-decoration: underline;
            }
          }
        }

        .etherscanlink a {
          color: white;
          text-decoration: none;

          &:hover,
          &:focus {
            color: white;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1368px) {
  .connectButtonContainer {
    &.connected {
      padding-left: 0;
      .connectedButtons {
        .connectButton {
          margin-left: 0;
        }
        .ethBalanceContainer,
        .separator {
          display: none;
        }
      }
    }
  }
}
