@import "../../../styles/styles.scss";
.button {
  border: none;
  position: relative;
  display: inline-block;
  color: white;
  background: transparent;
  border-radius: 99px;
  z-index: 0;

  font-size: 14px;
  font-weight: 700;
  font-family: "Inter";
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  white-space: nowrap;

  padding: 14px 21px;
  cursor: pointer;
  user-select: none;
  width: max-content;

  &.full-width {
    width: calc(100% - 42px);
  }

  &:before, 
  &:after {
    content: ' ';
    position: absolute;
    border-radius: 99px;
  }

  &:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: #503b9a;
    background-image: $Gradient01;
    background-size: 200%;
    transition: background 0.25s ease-in;
  }

  &.disabled:before {
    background-image: none;
    background: $Neutral02;
  }

  &.outline {
    &:after {
      background-color: $BG01;
    }
    &:not(.disabled):hover:after {
      background: $Border01;
    }
  }

  &.square::before, 
  &.square::after {
    border-radius: 6px;
  }
  &.square.outline:hover:after {
    background: none;
  }
  &.only-text {
    transition: none;
    &:before {
      background-image: unset;
      background: unset;
    }
    &:hover {
      &:before {
        background: $Border01;
      }
    }
    &:active {
      &:before {
        background-image: $Gradient01;
      }
    }
  }

  &:after {
    top: 2px; 
    bottom: 2px;
    left: 2px;
    right: 2px;
    z-index: -1;
    transition: all 0.25s ease-in;
  }

  &:hover:before {
    background-position: right center;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 10px #8668FC;
  }

  &:active:not(.disabled) {
    transform: translateY(1px);
    &:after {
      opacity: 0;
    }
  }

  &.disabled {
    background: $Neutral02;
    cursor: not-allowed;
    .button-text {
      cursor: inherit;
      color: $Neutral03 !important;
    }
    &.outline, &.text-only {
      color: $Neutral02;
      background-image: none;
    }
  }
}