@import "src/resources/elements/primeDesignSystem/variables";
@import "src/styles/variables";

$hover-transition-speed-fast: 175ms;
$hover-transition-speed-medium: 0.3s;
$hover-transition-speed-slow: 0.4s;

deal-clauses {
  &>ol {
    display: grid;
    gap: $spacing-normal;
    list-style-type: decimal;
    list-style-position: inside;
    counter-reset: clause;

    .clause {
      @include ckeditor-content;

      &::before {
        counter-increment: clause;
        content: counter(clause)'.';
        font-size: 26px;
        font-weight: 700;
        font-family: "Inter";
        color: $Secondary01;
      }

      list-style-type:none;
      display: flex;
      gap: 16px;
      padding: $spacing-normal * 2;
      border-radius: $border-radius-normal;
      background-color: $Border02;

      .body {
        word-wrap: anywhere;

        small {
          font-size: 12px;
          text-overflow: ellipsis;
        }
      }

      .heading {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        word-wrap: anywhere;
        margin-bottom: $spacing-normal;
      }

      .button {
        gap: $spacing-normal * 1.2;
        align-items: center;
        line-height: 19px;
        height: 100%;
        padding: 0 $spacing-normal * 1.5;
        display: none;
        justify-content: center;
        border-radius: $border-radius-normal;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.6px;
        color: $Neutral04;
        text-align: right;
        margin: $spacing-normal * 2 auto 0;
        cursor: pointer;

        img {
          width: $logo-icon-size-small;
          height: $logo-icon-size-small;
        }
      }

      &:hover.isPrivate,
      &:hover.active {
        background-color: $Border03;

        .button {
          display: flex;
        }
      }
    }

    .clauseContent {
      display: flex;
      flex-direction: column;
      width: 100%;

      .body {
        color: $Neutral02;
      }

    }

    @media screen and (max-width: $MaxContentBodyWidth) {
      margin-left: 0;

      .clause {
        .body {
          width: auto;
        }
      }
    }
  }
}