@import "styles/styles";
@import "src/resources/elements/primeDesignSystem/styles";

.discussions-list {
  table {
    width: 100%;
    thead {
      tr {
        border-bottom: 1px solid $Secondary02;
        th {
          padding: $spacing-normal;
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background-color: $BG02;
        }
      }
      td {
        padding: $spacing-normal;
        line-height: 24px;
        &.v-centered {
          vertical-align: middle;
        }
        &.h-centered {
          text-align: center;
        }
        .creator {
          padding-top: $spacing-small;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          color: $Neutral02;
          height: 17px;
          display: inline-block;
          i {
            display: inline;
            width: 12px;
            height: 12px;
            padding: 2px;
            padding-right: 7px;
            font-size: 12px;
          }
        }

        border-bottom: 1px solid $Border01;
      }
    }
  }

  .pagination {
    &.container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $spacing-normal;
      padding: $spacing-normal;
    }

    .button {
      display: flex;
      border-radius: 2px;
      width: 26px;
      height: 26px;
      justify-content: center;
      align-items: center;
      font-family: "Inter";
      font-size: 16px;
      font-weight: 400;
      >.tertiary {
        padding: $spacing-small;
      }
      &.active, &:hover, &:focus {
        background-color: $BG02;
        color: $White;
      }
    }
  }
}