@import "styles/colors.scss";

@mixin icon($file) {
  background-image: url("../../static/logos/products/" + $file);
  background-repeat: no-repeat;
  background-position: center;
}

$menu-open-duration: 0.1s;

.navbar-container {
  display: grid;
  position: fixed;
  z-index: 999;
  left: 0;
  grid-auto-flow: column;
  align-items: center;
  grid-template-areas: "logo products wallet" "sub-pages sub-pages sub-pages";
  grid-template-columns: 50px auto 400px;
  width: -moz-available;
  width: -webkit-fill-available;
  background: $BG01;
  box-shadow: inset 0px -1px 0px $BG02;

  .mobile-only {
    display: none;
  }

  .logo {
    grid-area: logo;
    width: max-content;
    padding: 6px;
    padding-left: 20px;
  }

  .products {
    grid-area: products;
    display: flex;
    width: clamp(250px, 100%, calc(1084px - 50px - 300px));
    margin: 0 auto;
    .container {
      list-style-type: none;
      padding: 0;
      display: flex;
      margin: 0;
      gap: 5px;

      .product-page {
        display: flex;
        align-items: center;
        padding: 19px 14px 19px 8px;
        column-gap: 5px;
        border-bottom: solid 3px transparent;
        transition: 175ms all ease-in-out;

        .icon {
          display: flex;
          width: 30px;
          height: 28px;
          transition: 175ms background-image linear;

          &.launch { @include icon("launch-mono.svg"); }
          &.pools { @include icon("pools-mono.svg"); }
          &.rating { @include icon("rating-mono.svg"); }
          &.deals { @include icon("deals-mono.svg"); }
        }
        &.active, &:active {
          border-color: $Secondary01;
        }
        &:hover {
          cursor: pointer;
          background: $BG02;
          .icon {
            &.launch { @include icon("launch.svg"); }
            &.pools { @include icon("pools.svg"); }
            &.rating { @include icon("rating.svg"); }
            &.deals { @include icon("deals.svg"); }
          }
        }
      }
    }
  }

  .wallet-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    grid-area: wallet;
    padding-right: 20px;
    width: max-content;
    justify-self: end;
  }

  .product-sub-pages {
    grid-area: sub-pages;
    background-color: $BG02;
    display: grid;
    .container {
      list-style-type: none;
      padding: 0 20px;
      display: flex;
      column-gap: 20px;
      text-align: left;
      margin: auto;
      width: clamp(250px, 100%, calc(1084px));
      .product-sub-page-link {
        cursor: pointer;
        padding: 10px 0;
        color: $Neutral02;
        transition: color 0.075s ease-in;
        &:hover {
          color: $White;
        }
        &.active {
          color: $Secondary01;
        }
      }
    }
  }
}

@media screen and (max-width: 1072px) {
  .navbar-container {
    .networkFeedback {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .navbar-container {
    display: inline-flex;
    grid-template-areas: "logo hamburger-menu";
    justify-content: space-between;

    .mobile-only {
      display: block;
    }
    .hamburger-menu-button {
      z-index: 999;
      grid-area: hamburger-menu;
    }

    .products,
    .product-sub-pages,
    .wallet-container {
      display: none;
    }
  }
}