@import "styles/styles.scss";

$menu-open-duration: 0.1s;

.navbar-container {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: $BodyPaddingLeftRight auto auto;
  grid-template-areas: "logo products connect" "blank subPages subPages";
  background-color: $BG01;

  .blank {
    grid-area: blank;
    background-color: $BG02;
    padding: 10px 0;
  }

  .mobile-only {
    display: none;
  }

  .logo {
    grid-area: logo;
    padding-left: 20px;

    img {
      height: 32px;
    }
  }

  .products {
    grid-area: products;

    .container {
      list-style-type: none;
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: left;
      column-gap: 18px;

      > .item {
        font-family: Aeonik;
        font-size: 18px;
        line-height: 24px;
        display: grid;
        grid-template-columns: auto 1fr;
        text-align: center;
        border-bottom: 3px solid $BG01;
        cursor: pointer;
        color: $Neutral04;
        padding: 12px 12px 12px 0;
        align-items: center;
        justify-items: start;
        column-gap: 12px;
        text-decoration: none;

        .icon {
          display: inline-grid; // to get vertical alignment
          img {
            width: 32px;
            height: 30px;
            &.color {
              display: none;
            }
          }
        }

        &.active,
        &:active {
          border-bottom-color: $Secondary01;

          .icon {
            img {
              &.color {
                display: inline-block;
              }
              &.mono {
                display: none;
              }
            }
          }
        }

        &:hover {
          background-color: $BG02;

          .icon {
            img {
              &.color {
                display: inline-block;
              }
              &.mono {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .productSubpages {
    transition: height 0.25s ease-in;
    overflow-y: hidden;
    grid-area: subPages;
    background-color: $BG02;
    height: 40px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;

    .container {
      list-style-type: none;
      margin: 0;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      justify-content: start;

      column-gap: 20px;
      text-align: left;
      > .item {
        cursor: pointer;
        padding: 10px 0;
        font-family: Inter;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        white-space: nowrap;
        text-decoration: none;

        color: $Neutral02;

        &:hover {
          color: $Neutral04;
          text-decoration: none;
        }
        &.active {
          color: $Secondary01;
        }
      }
    }
  }

  /**
     * header connectButton
     */
  .headerConnectButton {
    grid-area: connect;
    padding-right: 20px;
    text-align: right;
  }
}

@media screen and (max-width: $PageBreakWidth) {
  .navbar-container {
    grid-template-columns: calc(#{$ContentBodyPaddingLeftRightMobile} + 50px) auto auto;
    .products {
      .container {
        justify-content: center;
        column-gap: 2px;
        .item {
          grid-template-columns: auto;

          .text {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar-container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo connect hamburger-menu";
    justify-content: space-between;
    height: 70px;

    .logo {
      padding-left: $ContentBodyPaddingLeftRightMobile;
    }

    .mobile-only {
      display: block;
    }
    .hamburger-menu-button {
      z-index: 999;
      grid-area: hamburger-menu;
      margin-right: $ContentBodyPaddingLeftRightMobile;
    }
    .headerConnectButton {
      text-align: center;
      padding-right: 0;
    }

    & > .products,
    & > .blank,
    & > .productSubpages {
      display: none;
    }
  }
}
