@import "src/styles/styles.scss";
@import "src/resources/elements/primeDesignSystem/styles";

.page.dealDashboardContainer {
  display: grid;
  grid-template-columns: auto 360px;
  grid-template-rows: auto auto auto 1fr auto auto auto;
  grid-template-areas:
    "navbar navbar"
    "top top-extended"
    "description aside"
    "clauses aside"
    "discussion discussion"
    "thread thread";
  gap: 0 115px;

  deal-menubar {
    grid-area: navbar;
  }

  .top {
    grid-area: top;
    margin-bottom: 40px;

    .title {
      padding-bottom: 12px;
    }

    time-left {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
    }
  }

  deal-description {
    grid-area: description;
    margin-bottom: 100px;
  }

  deal-clauses {
    grid-area: clauses;
  }

  deal-discussion {
    grid-area: discussion;

    .header {
      display: flex;
      justify-content: space-between;
    }
  }

  aside {
    grid-area: aside;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    deal-votes,
    deal-info,
    deal-make-an-offer {
      min-width: 335px; // min-width needs to be 335px because the mobile size is min 375px (20px padding side by side)
      flex: 1;
    }
  }
}

@media screen and (max-width: $MaxContentBodyWidth) {
  .page.dealDashboardContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "top"
      "description"
      "clauses"
      "aside"
      "discussion";
    grid-row-gap: 28px;
    grid-column-gap: 0;

    .top{
      margin-top: 28px;
      margin-bottom: 0;
      .title{
        margin-bottom: 0;
      }
    }

    deal-description{
      margin-bottom: 28px;
    }
    deal-clauses{
      margin-bottom: 28px;
    }

    .aside{
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .page.dealDashboardContainer {
    section.top {
      grid-column-start: top;
      grid-column-end: top-extended;
    }
  }
}
