@import "src/styles/styles.scss";
@import "src/resources/elements/primeDesignSystem/styles";
.ppopup-dialog.executeSwap {
  p.dialogBody {
    width: 550px;
  }
  .modal-content {
    border-radius: 10px;
    background-color: $BG02;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    display: grid;
    grid-gap: 20px;
    h6 {
      text-transform: uppercase;
      color: $Secondary02;
      font-size: 14px;
      font-weight: 700;
      font-family: Aeonik;
    }
    .dao {
      font-size: 14px;
      color: #ffffff;
      font-weight: 400;
      font-family: Aeonik;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      .buttons {
        display: flex;
        column-gap: 4px;
        align-items: center;

        .etherscan-button {
          outline: none;
          path {
            fill: $Secondary05;
          }
          cursor: pointer;
          &:hover > path {
            fill: $White;
          }
        }
      }
    }
  }
}
.page.dealDashboardContainer {
  display: grid;
  grid-template-columns: auto 360px;
  grid-template-rows: auto auto auto 1fr auto auto auto;
  grid-template-areas:
    "navbar navbar"
    "top top-extended"
    "description aside"
    "clauses aside"
    "swapstatus swapstatus"
    "discussion discussion"
    "thread thread";
  gap: 0 115px;

  deal-menubar {
    grid-area: navbar;
  }

  .top {
    grid-area: top;
    margin-bottom: 40px;

    .title {
      padding-bottom: 12px;
    }

    time-left {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
    }
  }

  deal-description {
    grid-area: description;
    margin-bottom: 100px;
  }

  deal-clauses {
    grid-area: clauses;
  }
  .section.swap-status {
    grid-area: swapstatus;
    margin-top: 30px;
  }
  deal-discussion {
    grid-area: discussion;

    .header {
      display: flex;
      justify-content: space-between;
    }
  }

  aside {
    grid-area: aside;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    deal-votes,
    deal-info,
    deal-make-an-offer {
      min-width: 335px; // min-width needs to be 335px because the mobile size is min 375px (20px padding side by side)
      flex: 1;
    }
  }
}

@media screen and (max-width: $MaxContentBodyWidth) {
  .page.dealDashboardContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "top"
      "content"
      "clauses"
      "aside"
      "swapstatus"
      "discussion";
    grid-row-gap: 50px;
    grid-column-gap: 0;
  }
}

@media screen and (max-width: $MaxContentBodyWidthMobile) {
  .page.dealDashboardContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "top"
      "content"
      "clauses"
      "aside"
      "swapstatus"
      "discussion";
  }
}

@media screen and (max-width: 1400px) {
  .page.dealDashboardContainer {
    section.top {
      grid-column-start: top;
      grid-column-end: top-extended;
    }
  }
}
