@import "src/styles/styles.scss";
@import "src/resources/elements/primeDesignSystem/styles";

.page.dealDashboardContainer {
  display: grid;
  grid-template-columns: auto minmax(360px, 1fr);
  grid-template-areas:
    "navbar navbar"
    "top top-extended"
    "content aside"
    "clauses aside"
    "discussion discussion"
    "thread thread";
  gap: 50px 115px;

  deal-navbar {
    grid-area: navbar;
  }

  section {
    &.top {
      grid-area: top;
    }

    &.content {
      grid-area: content;
    }

    &.clauses {
      grid-area: clauses;
    }

    &.discussion {
      grid-area: discussion;

      .header {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  aside {
    grid-area: aside;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    deal-votes, deal-info {
      min-width: 335px; // min-width needs to be 335px because the mobile size is min 375px (20px padding side by side)
      flex: 1;
    }
  }
}

@media screen and (max-width: $MaxContentBodyWidth) {
  .page.dealDashboardContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "top"
      "content"
      "clauses"
      "aside"
      "discussion";
    grid-row-gap: 50px;
    grid-column-gap: 0;
  }
}

@media screen and (max-width: $MaxContentBodyWidthMobile) {
  .page.dealDashboardContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "top"
      "content"
      "clauses"
      "aside"
      "discussion";
  }
}

@media screen and (max-width: 1400px) {
  .page.dealDashboardContainer {
    section.top {
      grid-column-start: top;
      grid-column-end: top-extended;
    }
  }
}
