@import '../variables';

.tippy-box[data-theme="prime-design-system"] {
  background-color: $Border02;
  box-shadow: 0 0 16px 8px #00000040;
  border-radius: 8px;
  padding: 16px;
  font-size: $font-size1;

  .tippy-arrow:before {
    color: $Border02
  }
}
