<template>
  <div class="stageSection">
    <div class="stageSectionSidebar">
      <h2 class="heading heading3 title">${title}</h2>
      <p class="subtext">${description}</p>
    </div>
    <div class="stageSectionContent">
      <pform-input
        class="wizardFormInput wizardFormInputNarrow"
        label.bind="nameFieldLabel"
        validation-state.bind="errors.name ? 'error' : ''"
        validation-message.bind="errors.name">
        <pinput-text value.bind="data.name" disabled.bind="disabled"></pinput-text>
      </pform-input>

      <pform-input
        class="wizardFormInput wizardFormInputNarrow"
        label.bind="avatarFieldLabel"
        validation-state.bind="errors.avatar ? 'error' : ''"
        validation-message.bind="errors.avatar">
        <pinput-text value.bind="data.details" disabled.bind="disabled"></pinput-text>
      </pform-input>
    </div>
  </div>
  <div class="stageSection stageSectionNoBorder">
    <div class="stageSectionSidebar">
      <h2 class="heading heading3 title">Representatives</h2>
      <p class="subtext">
        Representatives of the selected DAOs can cast votes, either to accept or reject the deal. The deal gets accepted if more than half of the representatives of involved DAO's vote agree.
        <br /><br />
        Representatives also have access to discuss clauses on the deal. They can also fund the deal, as well as withdraw and claim tokens.
        <br /><br />
        Please put the address of the lead proposal if they are part of the Primary DAO, and wish to partake in the voting process.
      </p>
    </div>
    <div class="stageSectionContent">
      <pform-input
        class="wizardFormInput wizardFormInputNarrow"
        label.bind="representativesLabel"
        validation-state.bind="errors.avatar ? 'error' : ''"
        validation-message.bind="errors.avatar">
        <pinput-text value.bind="data.details" disabled.bind="disabled"></pinput-text>
      </pform-input>
    </div>
  </div>
</template>
