@import "../elements/primeDesignSystem/dialogs.scss";

/**
 * These classes apply to Aurelia dialogs.
 * To customize, give au-dialog-container and the container element an additional class and
 * write styles against that.  See how Alert and disclaimer dialogs are created.
 */
body.au-dialog-open {
  overflow: initial; // so scrollbars don't get hidden
}

body > au-dialog-container {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    display: flex !important;
    place-items: center !important;
    justify-content: space-around !important;
    z-index: 9999;
  
    > div {
      margin: 0 !important;
      padding: 0;
  
      > div {
        height: 100%;
        width: 100%;
      }
    }
  au-dialog-overlay {
    // Need rgba (= #15062d = $Neutral01) otherwise does not work properly with blur
    background-color: rgba(21, 6, 45, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 680px) {
  body > au-dialog-container {
    right: 0;
    left: 0;
    transform: translate(0, -50%);
  }
}
