<template>
  <require from="../daoRepresentativeAddress/daoRepresentativeAddress"></require>
  <require from="../socialMediaLink/socialMediaLink"></require>
  <div class="stageSection" data-test="dao-details-section">
    <div class="stageSectionSidebar">
      <h2 class="sidebarHeader heading heading3 title" data-test="section-title">${name}</h2>
      <p class="sidebarText" data-test="section-description">
        <slot name="details-description"></slot>
      </p>
    </div>
    <div class="stageSectionContent">
      <pform-input
        data-test="dao-name-field"
        class="wizardFormInput wizardFormInputNarrow"
        label.bind="name + ' Name'">
        <pinput-text value.bind="data.name & validate:form" disabled.bind="disabled"></pinput-text>
      </pform-input>

      <pform-input
        data-test="dao-treasury-field"
        class="wizardFormInput wizardFormInputNarrow"
        label.bind="name +' Treasury Address'"
        label-info="This address will receive tokens from the token swap">
        <pinput-text
          value.bind="data.treasury_address & validate:form"
          placeholder="0x..."
          disabled.bind="disabled">
        </pinput-text>
      </pform-input>

      <div class="daoStageAvatar" data-test="dao-avatar-section">
        <pform-input
          data-test="dao-avatar-url-field"
          class="wizardFormInput wizardFormInputNarrow"
          label.bind="name + ' Avatar'"
          label-info="JPG, GIF, PNG or BMP formats Square aspect ratio Recommended size: 400x400px Maximum 5MB file size">
          <pinput-text
            value.bind="data.logoURI & debounce:600 & validate:form"
            placeholder="Image URL..."
            disabled.bind="disabled">
          </pinput-text>
        </pform-input>
        <div
          class="daoAvatar"
          style.bind="`background-image: url(${data.logoURI})`"
          data-test="dao-avatar">
          <i if.bind="!data.logoURI" class="fas fa-image"></i>
        </div>
      </div>

      <div data-test="dao-social-media" if.bind="disabled && data.social_medias.length > 0 || !disabled">
        <div class="multiFieldTitle">
          Social media (optional)
        </div>

        <div
          repeat.for="socialMedia of data.social_medias"
          data-test="dao-social-media-item"
          class="wizardFormInput daoSocialMedia">
          <social-media-link
            available-social-medias.bind=" availableSocialMedias"
            social-media.bind="socialMedia"
            disabled.bind="disabled"
            form.bind="form"
            data.bind="data">
          </social-media-link>
          <button
            if.bind="!disabled"
            data-test="remove-social-media"
            class="removeButton"
            click.delegate="removeSocialMedia($index)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <button
          data-test="add-social-media"
          class="addButton"
          if.bind="data.social_medias.length < 5 && !disabled"
          click.delegate="addSocialMedia()">
          + Add social media
        </button>
      </div>

    </div>
  </div>
  <div class="stageSection" data-test="dao-representatives-section">
    <div class="stageSectionSidebar">
      <h2 class="sidebarHeader heading heading3 title" data-test="section-title">Select Representatives</h2>
      <p class="sidebarText" data-test="section-description">
        <slot name="representatives-description"></slot>
      </p>
    </div>
    <div class="stageSectionContent">
      <div class="multiFieldTitle">
        ${name} - Representatives Addresses (Max. 5)
      </div>
      <div
        repeat.for="representative of data.representatives"
        class="wizardFormInput wizardFormInputNarrow daoRepresentative">
        <dao-representative-address
          data-test="dao-representatives-addresses-field"
          representative.bind="representative"
          disabled.bind="disabled"
          form.bind="form"
          data.bind="data">
        </dao-representative-address>
        <button
          data-test="remove-dao-representative"
          class="removeButton"
          if.bind="data.representatives.length > 1 && !disabled"
          click.delegate="removeRepresentative($index)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <button
        data-test="add-dao-representative"
        class="addButton"
        if.bind="data.representatives.length < 5 && !disabled"
        click.delegate="addRepresentative()">
        + Additional representative
      </button>
    </div>
</template>
