@import "src/styles/variables";

dao-stage-content {
  .daoRepresentative, .daoSocialMedia {
    display: grid;
    grid-template-columns: 1fr 50px;
  }

  .removeButton {
    margin-left: auto;
    cursor: pointer;
    height: 66px;
  }

  .addButton {
    font-family: Inter;
    cursor: pointer;
    color: $Neutral02;
    border-bottom: 1px solid;
  }

  .link-buttons {
    display: flex;
    align-items: center;
    gap: $spacing-normal;
    padding-left: calc(2 * $spacing-normal);
  }
  .multiFieldTitle {
    color: $Secondary02;
    margin-bottom: $spacing-normal;
    @include subHeading;
    font-size: $font-size3;
    font-weight: 700;
  }

  .daoStageAvatar {
    display: grid;
    grid-template-columns: auto 88px;
    max-width: 593px;
  }

  .daoAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: $Border02;
    color: $Secondary05;
    font-size: 18px;
    align-self: center;
    justify-self: end;
    margin-bottom: 6px;
    background-position: center;
    background-size: cover;
  }

  autocomplete-select {
    --borderRadius: #{$spacing-normal};
    --spacingSmall: #{$spacing-small};
    --spacingNormal: #{$spacing-normal};
    --backgroundNormal: #{$BG04};
    --borderNormal: #{$Border01};
    --borderHighlight: #{$Secondary02};
    --optionHover: #{$Border01};
    --textNormal: #{$Neutral04};
    --textWarning: #{$Orange};
    --textError: #{$Red};

    width: 100%;
    height: 46px;
    font-size: 18px;
  }

  .pcard {
    display: flex;
    flex-direction: column;
    &.is-loading {
      justify-content: center;
      align-items: center;
      font-size: $font-size4;
      i {
        color: $Secondary01
      }
    }
    min-height: 172px;
    width: 100%;
    gap: 24px;
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $spacing-small;
      color: $Neutral04;
    }
    main {
      color: $Orange;
    }
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .deep-dao-logo {
        .logo-mono {
          display: block;
        }
        .logo-color {
          display: none;
        }
        &:hover {
          .logo-mono {
            display: none;
          }
          .logo-color {
            display: block;
          }
        }
      }
    }
  }
}
