<template>
  <require from="../daoRepresentativeAddress/daoRepresentativeAddress"></require>
  <require from="../socialMediaLink/socialMediaLink"></require>
  <div class="stageSection" data-test="dao-details-section">
    <div class="stageSectionSidebar">
      <h2 class="heading heading3 title" data-test="section-title">${title}</h2>
      <p class="subtext" data-test="section-description">
        <slot name="details-description"></slot>
      </p>
    </div>
    <div class="stageSectionContent">
      <pform-input
        class="wizardFormInput wizardFormInputNarrow"
        label.bind="title + ' Name'">
        <pinput-text value.bind="data.name & validate:form" disabled.bind="disabled"></pinput-text>
      </pform-input>

      <pform-input
        class="wizardFormInput wizardFormInputNarrow"
        label.bind="title +' Treasury Address'"
        label-info="This address will receive tokens from the Primary DAO/Partner DAO">
        <pinput-text
          value.bind="data.treasury_address & validate:form"
          placeholder="0x..."
          disabled.bind="disabled">
        </pinput-text>
      </pform-input>

      <div class="daoStageAvatar">
        <pform-input
          class="wizardFormInput wizardFormInputNarrow"
          label.bind="title + ' Avatar'"
          label-info="JPG, GIF, PNG or BMP formats Square aspect ratio Recommended size: 400x400px Maximum 5MB file size">
          <pinput-text
            value.bind="data.logo_url & validate:form"
            placeholder="Image URL..."
            disabled.bind="disabled">
          </pinput-text>
        </pform-input>
        <div class="daoAvatar" style.bind="`background-image: url(${data.logo_url})`">
          <i if.bind="!data.logo_url" class="fas fa-image"></i>
        </div>
      </div>

      <div class="multiFieldHeader">
        <span class="multiFieldTitle">
          Social media (optional)
        </span>
        <span class="multiFieldError">
          ${socialMediasError.message}
        </span>
      </div>

      <div
        repeat.for="socialMedia of data.social_medias"
        class="wizardFormInput daoSocialMedia">
        <social-media-link
          available-social-medias.bind="availableSocialMedias"
          social-media.bind="socialMedia"
          disabled.bind="disabled"
          form.bind="form">
        </social-media-link>
        <button
          class="removeButton"
          click.delegate="removeSocialMedia($index)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <button
        class="addButton"
        if.bind="data.social_medias.length < 5"
        click.delegate="addSocialMedia()">
        + Add social media
      </button>

    </div>
  </div>
  <div class="stageSection stageSectionNoBorder">
    <div class="stageSectionSidebar">
      <h2 class="heading heading3 title">Representatives</h2>
      <p class="subtext">
        <slot name="representatives-description"></slot>
      </p>
    </div>
    <div class="stageSectionContent">
      <div class="multiFieldHeader">
        <span class="multiFieldTitle">
          Primary DAO - Representatives Addresses (Max. 5)
        </span>
        <span class="multiFieldError">
          ${representativesError.message}
        </span>
      </div>
      <div
        repeat.for="representative of data.representatives"
        class="wizardFormInput wizardFormInputNarrow daoRepresentative">
        <dao-representative-address
          representative.bind="representative"
          disabled.bind="disabled"
          form.bind="form">
        </dao-representative-address>
        <button
          class="removeButton"
          if.bind="data.representatives.length > 1"
          click.delegate="removeRepresentative($index)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <button
        class="addButton"
        if.bind="data.representatives.length < 5"
        click.delegate="addRepresentative()">
        + Additional representative
      </button>
    </div>
</template>
