@import "src/styles/colors";
.icons {
  display: grid;
  grid-area: icon;
  width: inherit;
  align-items: center;
  .dao {
    overflow: hidden;
  }
  .icon {
    transition: 0.35s ease-in-out;
    display: grid;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
      .roundedLogo {
        clip-path: path("M 2 0 A 1,1, 0,0,1 -12,34 L 0 72 L 72 0 z");
      }

      margin-left: -15px;
    }
  }

  .name {
    white-space: nowrap;
    padding-right: 10px;
    color: $Neutral03;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
  }
}
