@import "styles/styles.scss";
@import "resources/elements/primeDesignSystem/variables";
.icons {
  display: grid;
  grid-area: icon;
  width: inherit;
  align-items: center;
  .dao {
    overflow: hidden;
  }
  .icon {
    transition: 0.35s ease-in-out;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    &:not(:first-child) {
      margin-left: -15px;
      z-index: 2;
    }
  }

  .name {
    white-space: nowrap;
    padding-right: 10px;
    color: $Neutral03;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
  }
}
