@import "src/styles/colors";
@import "src/styles/variables";

.markdownContainer {
  // trying to override dialogBody here
  font-family: Inter !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: $Neutral03  !important;
  white-space: normal !important;

  p,
  h1,
  h2,
  h3,
  h4,
  ul,
  li,
  ol,
  code,
  pre,
  strong,
  i,
  b {
    all: revert;
  }

  h1 {
    @include standardTextGradient;
    font-size: 48px;
    line-height: 46px;
    padding-bottom: 24px;
    font-family: "Aeonik";
    font-style: normal;
    font-weight: bold;
    width: fit-content; // so gradients look right
    white-space: break-word;
    margin-bottom: 28px;
  }

  a {
    color: $Secondary07;
    white-space: pre-wrap;
  }

  p {
    line-height: 1.5;
    margin-bottom: 16px;
  }

  code,
  pre {
    background-color: $Neutral01;
    color: $Secondary04;
    border-radius: 0.3em;
    padding: 4px 5px 6px;
    white-space: nowrap;
  }

  ul {
    padding-inline-start: 2em;
  }

  li {
    margin: 10px 0;
  }

  h2 {
    font-size: 1.5em;
    padding-bottom: 0.3em;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 40px;
  }

  h3 {
    font-weight: 600;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  img {
    width: 600px;
    // height: 600px;
  }

  table {
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;

    th {
      padding: 6px 13px;
      border: 1px solid;
    }

    tr {
      border-top: 1px solid;

      &:nth-child(2n) {
        background-color: $BG01;
      }

      td {
        width: 215px;
        height: 40px;
        padding: 6px 13px;
        border: 1px solid;
      }

      td:not(td:first-child) {
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  kbd {
    border-radius: 68px;
    background-color: $Neutral04;
    border: 1px solid $Neutral03;
    color: #333;
    display: inline-block;
    font-size: 13.6px;
    font-weight: 600;
    line-height: 1;
    padding: 2px 5px;
    white-space: nowrap;
  }
}
