@import "src/resources/elements/primeDesignSystem/variables";

token-details {
  display: block;


  pcard.pcard {
    display: block;
    padding: 20px;

    > div > pform-input {
      margin-bottom: 30px;
    }

    &.invalidTokenDetails {
      outline: 1px solid $Red;
    }

    .vesting {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .vesting-input {
        p {
          font-size: $font-size1;
          margin-bottom: 8px;
          margin-top: 8px;
        }
      }

      pinput-group {
        width: 180px;

      }
    }

    prange-slider {
      .value {
        min-width: 120px;
      }
    }

    .tokenDetailsFooter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .deleteButton {

        button {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .fa {
          margin-left: 16px;
        }
      }
    }
  }

  .tokenDetailsView {
    .tokenName {
      display: flex;
      align-items: center;
      gap: $spacing-normal
    }
  }

  .detailsTable {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    margin-top: $spacing-normal;
    margin-bottom: 30px;
    width: 100%;
    border-spacing: $spacing-normal;

    .detailsCell p:first-child {
      color: $Secondary02;
      margin-bottom: $spacing-small;
      display: flex;
      align-items: center;
      gap: $spacing-medium-small;
    }

    &.detailsTableInViewMode {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .detailsCellAmount {
        grid-column: span 3;
      }
    }
  }
}
