<template>
  <div class="stageButtons">
    <pbutton type="secondary" click.delegate="wizardService.previous(wizardManager)">
      Previous
    </pbutton>
    <pbutton
      if.bind="!showSubmit"
      type="primary"
      click.delegate="wizardService.proceed(wizardManager)">
      Proceed
    </pbutton>
    <pbutton
      if.bind="showSubmit"
      type="primary"
      click.delegate="wizardService.submit(wizardManager)">
      Submit
    </pbutton>
    <pbutton class="cancel" type="tertiary" click.delegate="wizardService.cancel()">
      Cancel
    </pbutton>
  </div>
</template>
