<template>
  <div class="stageButtons">
    <pbutton
      type="secondary"
      click.delegate="wizardService.previous(wizardManager)"
      data-test="wizard-previous-button">
      Previous
    </pbutton>
    <pbutton
      if.bind="!showSubmit"
      type="primary"
      click.delegate="wizardService.proceed(wizardManager)"
      data-test="wizard-proceed-button">
      Proceed
    </pbutton>
    <pbutton
      if.bind="showSubmit"
      type="primary"
      click.delegate="wizardService.submit(wizardManager)"
      data-test="wizard-submit-button">
      Submit
    </pbutton>
    <pbutton
      class="cancel"
      type="tertiary"
      click.delegate="wizardService.cancel()"
      data-test="wizard-cancel-button">
      Cancel
    </pbutton>
  </div>
</template>
