@import "../variables";

.pCardDemo {
  display: grid;
  row-gap: 20px;

  .pcard {
    display: grid;
    row-gap: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
  }

  p {
    color: $Neutral04;
  }

  img {
    border-radius: $border-radius-normal;
    width: 100%;
  }

  code {
    background-color: $BG03;
    padding: 1px $spacing-small;
    color: $Orange;
    border-radius: $border-radius-small;
  }

  .card1 {
    width: 335px;
  }

  .card3 {
    text-align: center;
  }

  .card4 {
    height: 75px;
  }

  .card5 {
    &.gradient {
      @include pcardBgAndGradient($backgroundColor: $Neutral02);
      color: black;
    }
  }
  .card6 {
    &.gradient {
      @include pcardBgAndGradient($grColor01: $Green, $grColor02: $Red);
    }
  }
}
