@import "src/resources/elements/primeDesignSystem/colors";
@import "src/resources/elements/primeDesignSystem/variables";

token-details {
  margin-bottom: 25px;
  font-family: 'Inter', sans-serif;
}

pinput-group {
  width: 180px;
}

.addTokenButton {
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
