@import "../styles";

pcountdown-circular {
  .circle {
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    color: $Secondary05;
    border: 2px solid $Secondary05;
    border-radius: 50%;
    // inline so div fits the circle and component can be properly centered
    display: inline-flex;
    justify-content: center;
    align-items: center;

    /**
     * forces circle shape
     */
    &::before {
      content: "";
      margin-top: 100%;
    }

    .secondsLeft {
      font-size: 12px;
      color: $Secondary05;
    }
  }
}
