@import "src/resources/elements/primeDesignSystem/variables";
@import "src/resources/elements/primeDesignSystem/colors";
.addressLink {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    .buttons {
      display: flex;
      column-gap: 4px;
      align-items: center;

      .etherscan-button {
        outline: none;
        path {
          fill: $Secondary05;
        }
        cursor: pointer;
        &:hover > path {
          fill: $White;
        }
      }
    }
  }