@import "styles/colors.scss";

.newDealContainer {
  display: grid;

  grid-template-rows: auto 1fr;
  align-items: top;
  background-color: $BG01;
  &.stage8{
    grid-template-rows: 1fr;
    .currentStageSidebar {
      display: none;
    }
  }
  .sideBarDropDownContainer {
    display: none;
    cursor: pointer;
    .sideBarDropDown {
      font-family: Inter;
      color: $Secondary02;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 32px;
    }
  }
  .currentStageSidebar {
    position: sticky;
    background: $BG01;
    padding: 5px;
    top: 0;
    z-index: 1;

      font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: $Border01;
    display: grid;
    grid-template-columns: repeat(auto-fit,86px 50px);
    justify-content: center;
    .currentstage {
      cursor: pointer;
    }
    .active {
      color: $Secondary02;
    }
    .verified {
      color: $Neutral02;
    }
    .stagesNumber {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      >div {
        max-width: 86px;
        text-align: center;
      }
    }
    .timeLine {
      width: 91px;
      margin-left: -20px;
      height: 38px;
      display: grid;
      justify-content: center;
      align-items: center;
      .ruler {
        width: inherit;
        height: 3px;
        background: $Border01;
        &.verified {
          background: $Neutral02;
        }
        margin-top: 1px; // fix ruler center position
      }
    }
  }
}

@media screen and (max-width: 782px) {
  .newDealContainer {
    grid-template-rows: auto 1fr;
    .currentStageSidebar {
      margin: 0 -15px;
      z-index: 1;
      grid-template-columns: repeat(auto-fit, 43px 35px);
      .timeLine {
        width: 35px;
        margin-left: unset;
      }
    }
  }
}