@import "styles/styles.scss";
pbutton button.secondary {
  padding: 14px 28px;
}
.page.deals {
  .section {
    &.loading {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      padding-top: 24px;

      i {
        color: $Secondary02;
      }
    }

    &.no-deals {
      display: flex;
      flex-direction: column;
      place-items: center;
      border-top: 1px solid $Secondary02;
      padding-top: 30px;
      pbutton {
        margin-top: 30px;
      }
    }
    &.featured,
    &.deals {
      .loading {
        text-align: center;
        font-size: 32px;
        padding-top: 24px;
        i {
          color: $Secondary07;
        }
      }
    }

    &.featured {
      margin-bottom: 92px;

      .scrollerContainer {
        margin-bottom: 28px;
      }
    }
    &.deals-actions {
      display: flex;
      justify-content: right;
      margin-bottom: 28px;
      pbutton {
        margin-left: 20px;
      }
      pform-input {
        display: flex;
        cursor: pointer;
        .formInputLabelTitle {
          text-transform: uppercase;
          color: $Neutral02;
          font-size: 14px;
          font-weight: 700;
        }
        .inputContainer {
          margin-left: 10px;
        }
      }
    }
    &.deal-carousel {
      margin-bottom: 100px;
      .scrollerContainer {
        margin-bottom: 28px;

        .scroller {
          deal-summary {
            margin-right: $spacing-normal * 2;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      > .selector {
        :not(:first-child) {
          margin-left: 63px;
        }

        > .selector-tab {
          cursor: pointer;

          &:hover:not(.active) {
            -webkit-text-fill-color: $Neutral04;
          }
        }

        display: flex;
        -webkit-text-fill-color: $Neutral02;
        border-bottom: 2px solid $Border01;
        width: 100%;
        transition: background 1s ease-in-out;

        > .active {
          background: $Gradient02;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          border-bottom: 6px solid;
          @include border-gradient($Gradient02);
          padding-bottom: 19px;
        }

        margin-bottom: 53px;
      }
    }

    &.all-deals {
      .grid {
        margin-bottom: 20px;
        font-size: 16px;

        .row {
          cursor: default;
          /**
           * so the grid will be composed of the contents of the row element,
           * not the row element itself.
           */
          display: contents;

          &:hover {
            text-decoration: none;
          }

          .cell.header {
            padding: 10px 0;
          }

          &.body.hot {
            cursor: pointer;
          }

          &.body.hot:hover .cell.body {
            background-color: $BG02;
          }

          .cell {
            &.body {
              height: 74px;
              display: flex;
              align-items: center;
            }
            /**
             * for when columns get scrunched together
             */
            &:not(:nth-of-type(n + 7)) {
              padding-right: 12px;
            }

            &.header {
              &.sortable {
                cursor: pointer;
              }
            }

            &.project {
              .ellipsesContainer {
                display: inline-block;
                overflow-x: hidden;
                text-overflow: ellipsis;
              }
            }

            &.dealSize {
              text-align: right;
              justify-content: right;
            }

            &.projectToken,
            &.fundingToken {
              white-space: nowrap;

              img {
                margin-right: 6px;
                @include tokenIcon;
              }
            }

            &.starts {
              .timeLeftContainer {
                .body {
                  font-family: Aeonik; // so will center properly and look consistent
                }
              }
            }
            &.eslink {
              i {
                cursor: pointer;
                color: $Secondary02;
              }
            }
          }
        }
      }

      .dealGrid {
        display: grid;
        grid-template-columns: 0.6fr 0.9fr 0.5fr 0.5fr 0.5fr 0.5fr;

        .row {
          &.header {
            .cell {
              border-bottom: 1px solid $Secondary02;
              font-size: 14px;
              font-weight: 700;
              color: $Neutral04;
            }
          }
          &.body {
            .cell,
            .cell > div.icons > div.dao > div.name {
              font-size: 16px;
              font-weight: 400;
              font-family: Inter;
              color: $Neutral03;
              &.title {
                white-space: normal;
                padding-right: 35px;
              }
            }
            .cell {
              border-bottom: 1px solid $Border01;
            }
            &:hover {
              color: inherit;
            }
          }
        }
      }

      .dealGridMobile {
        display: none;
        grid-template-columns: 1fr 0.5fr 0.5fr auto;
        grid-template-rows: auto auto;
        align-items: self-end; // makes header borders line up

        .row {
          &.header {
            .cell:nth-of-type(n + 5) {
              border-bottom: 1px solid $Secondary02;
              color: $Neutral02;
              opacity: 0.6;
            }
          }

          .cell {
            text-align: left !important;

            &.header {
              padding: 2px 0;
            }

            &.body {
              height: 24px;
            }

            &:not(:nth-of-type(n + 5)) {
              padding-right: 8px;
            }

            &.starts {
              text-align: left !important;
              justify-content: left;
            }

            &.whitelist,
            &.eslink {
              text-align: center !important;
              justify-content: center;
              padding-right: 0;
            }

            /**
             * cells in first subrow of each row
             */
            &:nth-of-type(n):nth-of-type(-n + 4) {
              padding-top: 20px;
              margin-bottom: 0;
            }

            /**
             * cells in second subrow of each row
             */
            &:nth-of-type(n + 5):nth-of-type(-n + 8) {
              padding-bottom: 20px;
              color: $Neutral02;

              .etherscanlink .text,
              .copy-to-clip-button {
                color: $Neutral02;
              }
            }

            &.body {
              &.starts {
                .timeLeftContainer {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .seeMore {
        display: flex;
        color: $Neutral02;
        cursor: pointer;

        > .arrow {
          margin-right: 6px;
        }
      }
    }

    &.deals {
      .title {
        -webkit-text-fill-color: $Secondary02;
      }

      .grid {
        margin-bottom: 20px;
        font-size: 16px;

        .row {
          display: contents;
          cursor: default;

          &:hover {
            text-decoration: none;
          }

          .cell {
            margin-bottom: 16px;
          }

          &.body .cell.hot {
            cursor: pointer;
          }

          &.body.hot:hover .cell.body {
            background-color: $BG02;
          }

          .cell {
            padding: 10px 0;

            /**
             * for when columns get scrunched together
             */
            &:not(:nth-of-type(n + 8)) {
              padding-right: 12px;
            }

            &.header {
              color: $Neutral02;

              &.sortable {
                cursor: pointer;
              }
            }

            &.project {
              overflow-x: hidden;
              text-overflow: ellipsis;
            }

            &.target,
            &.cap {
              text-align: right;
            }

            &.whitelist,
            &.starts,
            &.eslink {
              text-align: center;
            }

            &.dealToken,
            &.fundingToken {
              white-space: nowrap;

              img {
                margin-right: 6px;
                @include tokenIcon;
                position: relative;
                top: 4px;
              }
            }

            &.eslink {
              i {
                cursor: pointer;
                color: $Secondary05;
              }
            }
          }
        }
      }

      .dealGrid {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 2fr 0.75fr 0.75fr 0.75fr;
        grid-template-rows: auto;
        align-items: center;

        .row {
          &.header {
            .cell {
              border-bottom: 1px solid $Secondary02;

              &.dealToken,
              &.fundingToken {
                white-space: nowrap;
              }
            }
          }
        }
      }

      .dealGridMobile {
        display: none;
        grid-template-columns: 0.5fr 1fr 1fr auto;
        grid-template-rows: auto auto;
        align-items: self-end; // makes header borders line up

        .row {
          &.header {
            .cell:nth-of-type(n + 5) {
              border-bottom: 1px solid $Secondary02;
              color: $Neutral02;
              opacity: 0.6;
            }
          }

          .cell {
            padding: 2px 0;
            text-align: left !important;

            &:not(:nth-of-type(n + 5)) {
              padding-right: 8px;
            }

            &.whitelist,
            &.eslink {
              text-align: center !important;
              padding-right: 0;
            }

            /**
             * cells in first subrow of each row
             */
            &:nth-of-type(n):nth-of-type(-n + 4) {
              padding-top: 12px;
              margin-bottom: 0;
            }

            /**
             * cells in second subrow of each row
             */
            &:nth-of-type(n + 5):nth-of-type(-n + 8) {
              padding-bottom: 12px;
              color: $Neutral02;

              .etherscanlink .text,
              .copy-to-clip-button {
                color: $Neutral02;
              }
            }

            &.body {
              &.starts {
                .timeLeftContainer {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .seeMore {
        display: flex;
        color: $Neutral02;
        cursor: pointer;

        > .arrow {
          margin-right: 6px;
        }
      }
    }
  }
}

@media screen and (max-width: $PageBreakWidth) {
  .page.deals {
    .section {
      > .title {
        white-space: normal;
        text-align: center;
        width: auto; // so text-align:center works
        max-width: unset;
      }

      &.featured {
        .scrollerContainer {
          margin-bottom: 0;
        }
      }

      &.deals {
        .grid {
          font-size: 14px;
        }
        .dealGrid {
          display: none;
        }
        .dealGridMobile {
          display: grid;
        }
      }
    }
  }
}
