@import "src/resources/elements/primeDesignSystem/variables";
@import "src/styles/colors";
@import "src/styles/variables";

pbutton button.secondary {
  padding: 14px 28px;
}

.page.deals {
  .section {
    &.loading {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      padding-top: 24px;

      i {
        color: $Secondary02;
      }
    }

    &.no-deals {
      display: flex;
      flex-direction: column;
      place-items: center;
      border-top: 1px solid $Secondary02;
      padding-top: 30px;

      &.heading02 {
        font-size: 20px;
        color: $Neutral02;
      }

      pbutton {
        margin-top: 30px;
      }
    }

    &.featured,
    &.deals {
      .loading {
        text-align: center;
        font-size: 32px;
        padding-top: 24px;

        i {
          color: $Secondary07;
        }
      }
    }

    &.featured {
      margin-bottom: 92px;

      .scrollerContainer {
        margin-bottom: 28px;
      }
    }

    &.deals-actions {
      text-align: right;
      margin-bottom: 28px;
      display: grid;
      grid-template: 1fr / 1fr auto;
      justify-items: right;
      align-items: center;

      pbutton {
        margin-left: 20px;
      }

      pform-input {
        display: inline-flex;
        cursor: pointer;

        .pToggle {
          margin-top: 2px;
        }

        .formInputLabel {
          margin: 0;
        }

        .formInputLabelTitle {
          text-transform: uppercase;
          color: $Neutral02;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 0px;
        }

        .inputContainer {
          margin-left: 10px;
        }
      }
    }

    &.all-deals {
      .grid {
        margin-bottom: 20px;
        font-size: 16px;

        .row {
          cursor: default;
          /**
           * so the grid will be composed of the contents of the row element,
           * not the row element itself.
           */
          display: contents;

          &:hover {
            text-decoration: none;
          }

          .cell.header {
            padding: 10px 0;
          }

          &.body.hot {
            cursor: pointer;
          }

          &.body.hot:hover .cell.body {
            background-color: $BG02;
          }

          .cell {
            &.body {
              height: 74px;
              display: flex;
              align-items: center;
            }

            /**
             * for when columns get scrunched together
             */
            &:not(:nth-of-type(n + 7)) {
              padding-right: 12px;
            }

            &.header {
              &.sortable {
                cursor: pointer;
              }
            }

            &.project {
              .ellipsesContainer {
                display: inline-block;
                overflow-x: hidden;
                text-overflow: ellipsis;
              }
            }

            &.dealSize {
              text-align: right;
              justify-content: right;
            }

            &.projectToken,
            &.fundingToken {
              white-space: nowrap;

              img {
                margin-right: 6px;
                @include tokenIcon;
              }
            }

            &.starts {
              .timeLeftContainer {
                .body {
                  font-family: Aeonik; // so will center properly and look consistent
                }
              }
            }

            &.eslink {
              i {
                cursor: pointer;
                color: $Secondary02;
              }
            }
          }
        }
      }

      .dealGrid {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr;

        .row {
          &.header {
            .cell {
              border-bottom: 1px solid $Secondary02;
              font-size: 14px;
              font-weight: 700;
              color: $Neutral04;
            }
          }

          &.body {

            .cell,
            .cell > div.icons > div.dao > div.name {
              font-size: 16px;
              font-weight: 400;
              font-family: Inter;
              color: $Neutral03;

              &.title {
                white-space: normal;
                padding-right: 35px;
              }
            }

            .cell {
              border-bottom: 1px solid $Border01;
            }

            &:hover {
              color: inherit;
            }
          }
        }
      }

      .dealGridMobile {
        display: none;
        grid-template-columns: 1fr 0.5fr 0.5fr auto;
        grid-template-rows: auto auto;
        align-items: self-end; // makes header borders line up

        .row {
          &.header {
            .cell:nth-of-type(n + 5) {
              border-bottom: 1px solid $Secondary02;
              color: $Neutral02;
              opacity: 0.6;
            }
          }

          .cell {
            text-align: left !important;

            &.header {
              padding: 2px 0;
            }

            &.body {
              height: 24px;
            }

            &:not(:nth-of-type(n + 5)) {
              padding-right: 8px;
            }

            &.starts {
              text-align: left !important;
              justify-content: left;
            }

            &.whitelist,
            &.eslink {
              text-align: center !important;
              justify-content: center;
              padding-right: 0;
            }

            /**
             * cells in first subrow of each row
             */
            &:nth-of-type(n):nth-of-type(-n + 4) {
              padding-top: 20px;
              margin-bottom: 0;
            }

            /**
             * cells in second subrow of each row
             */
            &:nth-of-type(n + 5):nth-of-type(-n + 8) {
              padding-bottom: 20px;
              color: $Neutral02;

              .etherscanlink .text,
              .copy-to-clip-button {
                color: $Neutral02;
              }
            }

            &.body {
              &.starts {
                .timeLeftContainer {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .seeMoreSection {
        margin-bottom: 36px;

        .centered {
          display: flex;
          justify-content: center;

          button.tertiary {
            color: $Neutral04;
            opacity: 0.3;
            transition: 0.2s;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@mixin prefix($text) {
  &:before {
    content: $text;
    margin-right: $spacing-small;
    font-size: small;
  }
}

@media screen and (max-width: $PageBreakWidth) {
  .page.deals {
    .section {
      &.deals-actions {
        grid-template: 1fr auto / 1fr;
        grid-row-gap: $spacing-normal;
      }

      &.all-deals {
        .grid.dealGrid {
          grid-template-columns: 1fr;
          .row {
            display: grid;
            padding: $spacing-small 0;
            grid-template-areas:
              "daos daos status"
              "type type age"
              "title title size";
            grid-template-columns: 2fr 2fr 1fr;
            grid-template-rows: 40px 20px auto;
            border-bottom: 1px solid $Border01;
            &.body.hot:hover {
              background-color: $BG02;
            }
            &.header {
              display: none;
            }
            &:first-of-type {
              margin-top: $spacing-small;
              border-top: 1px solid $Border01;
            }
            .cell {
              padding: 0 $spacing-normal;
              border-bottom: unset;
              height: auto;
            }
            .project {
              grid-area: daos;
            }
            .title {
              grid-area: title;
              font-size: 20px;
              font-weight: bold;
            }
            .type {
              justify-content: left;
              grid-area: type;
              font-size: 12px;
              font-weight: bold;
              color: $Secondary05;
              text-transform: uppercase;
            }
            .status {
              justify-content: center;
              grid-area: status;
            }
            .age {
              grid-area: age;
              justify-content: center;
            }
            .dealSize {
              @include prefix("Deal Size (USD):");
              justify-content: center;
              grid-area: size;
            }
          }
        }
      }
      > .title {
        white-space: normal;
        text-align: center;
        width: auto; // so text-align:center works
        max-width: unset;
      }

      &.featured {
        .scrollerContainer {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .page.deals {
    .section {
      &.all-deals {
        .grid.dealGrid {
          .row {
            grid-template-areas:
              "daos daos daos"
              "type type type"
              "size size status";
            grid-template-columns: 2fr 1fr 0.5fr;
            .title, .age {
              display: none;
            }
            &.body {
              padding-top: $spacing-normal;
              padding-bottom: $spacing-normal;
            }
            .dealSize {
              @include prefix("");
              justify-content: left;
            }
          }
        }
      }
    }
  }
}
