@import "styles/styles.scss";
@import "src/resources/elements/primeDesignSystem/styles";

.discussionThread {
  grid-area: thread;
  .head.container {
    background-color: inherit;
    padding-bottom: 14px; // override heading1 padding
  }

  background-color: $BG01;
  .title {
    background-color: inherit;
    position: sticky;
    top: 95px;
    z-index: 1;
    padding-top: $spacing-normal;
    padding-bottom: $spacing-medium-small + $spacing-normal;
    border-bottom: 1px solid $Secondary02;
    &>span {
      display: flex;
      justify-content: space-between;
    }
    .topic {
      font-family: "Inter";
      font-size: 24px;
      line-height: 33px;
      font-weight: 700;

      &.at-top {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .sticky-area {
    background-color: inherit;
    .comments.container {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      padding-top: 20px;
      display: block;
      .comment {
        &:not(:last-child) {
          border-bottom: 1px solid $Border01;
        }
        &.no, &.isLoading {
          text-align: center;
          padding-top: $spacing-normal * 3;
          padding-bottom: $spacing-normal * 5;
        }
      }
    }
    .load-more {
      display: flex;
      justify-content: center;
      padding: $spacing-normal;
    }
    .action.container {
      position: sticky;
      display: grid;
      grid-gap: $spacing-small $spacing-normal * 4;
      grid-template-areas: "header header" "subtitle ." "input action-bottom";
      grid-template-columns: 1fr auto;
      background-color: inherit;
      bottom: 0;
      padding-bottom: $spacing-normal;
      border-top: 1px solid $Border01;
      padding-top: 48px;

      .action.heading {
        display: flex;
        width: 100%;
        margin-bottom: 0;
        grid-area: header;
        justify-content: flex-start;
        gap: 13px;
        &:hover {
          button>i.fa-times {
            color: $Primary01;
          }
        }
        i.fa-times, i.fa-share {
          cursor: pointer;
          color: $Secondary05;
          font-size: 24px;
        }
      }

      .subtitle {
        grid-area: subtitle;
        padding-left: 37px;
        font-size: 14px;
        font-weight: 400;
        color: $Neutral02;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      .replyState {
        overflow: hidden;
        white-space: nowrap;
      }

      &>ptextarea {
        grid-area: input;
        &>textarea {
          min-height: (24px + $spacing-normal) * 2; // 2 rows
          height: (24px + $spacing-normal) * 2;
          resize: vertical;
          max-height: 130px;
        }
      }
      &>.action.do{
        grid-area: action-bottom;
      }
      &>.action.heading {
        button {
          padding: $spacing-small $spacing-normal * 2;
        }
      }
    }
  }

  .spinner {
    color: $Primary01;
  }

}
