@import "styles/colors.scss";
// this is just to preload to avoid css jitter when opening a dialog
@import "resources/dialogs/dialogs.scss";
.appWrapper {
  display: grid;
  grid-template-columns: minmax($BodyPaddingLeftRight, 1fr) 1120px minmax($BodyPaddingLeftRight, 1fr);
  grid-template-rows: 192px 100fr 1fr;
  grid-template-areas:
    ". . ."
    ". mainContent ."
    "footer footer footer";
  height: 100vh;

  .networkfeedback {
    font-family: Inter;
    color: $White;
    .testnet {
      color: $Shade01;
    }
  }

  .header {
    grid-area: header;
  }

  .mobileMenuContainer {
    z-index: 998; // stay below modal screen
    grid-area: mobileMenu;
    display: none;

    .menu {
      padding: 20px 0;

      .menuitems {
        margin-bottom: 20px;
        a.item {
          display: block;
          margin-bottom: 6px;
          padding: 14px 20px;
          cursor: pointer;

          &.active,
          &:hover {
            background-color: #9478ff;
            border-right: 6px solid #694ae2;
          }

          .text {
            display: flex;
            justify-items: center;

            img {
              width: 14px;
              padding-right: 16px;
            }
          }
        }
      }
    }
  }

  .mainContent {
    grid-area: mainContent;
    color: $White;
    padding-top: 142px;
    padding-bottom: 52px;
  }

  .appFooter {
    grid-area: footer;
    padding: 0 20px;
    margin: 0 -160px;
  }
}

@media screen and (max-width: 1072px) {

  .mobilemenuButton {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(1);
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $Primary01;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 5px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 11px;
      }

      &:nth-child(4) {
        top: 17px;
      }
    }

    &.showingMobileMenu {
      span {
        &:nth-child(1) {
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          width: 0%;
          left: 50%;
        }
      }
    }
  }

  .appWrapper {
    grid-template-columns: minmax($BodyPaddingLeftRightMobile, 1fr) 100fr minmax($BodyPaddingLeftRightMobile, 1fr);
  }
}
