@import "styles/styles.scss";

.appWrapper {
  display: grid;
  grid-template-columns:
    minmax(#{$MinContentBodyPaddingLeftRight}, 1fr)
    #{$ContentBodyWidth}
    minmax(#{$MinContentBodyPaddingLeftRight}, 1fr);
  grid-template-rows: 192px 100fr 1fr;
  grid-template-areas:
    ". . ."
    ". mainContent ."
    "footer footer footer";
  height: 100vh;

  .mainContent {
    grid-area: mainContent;
    color: $White;
    padding-bottom: 52px;
  }

  .appFooter {
    grid-area: footer;
  }
}

@media screen and (max-width: $PageBreakWidth) {
  .appWrapper {
    grid-template-columns:
      minmax(#{$ContentBodyPaddingLeftRightMobile}, 1fr)
      100fr
      minmax(#{$ContentBodyPaddingLeftRightMobile}, 1fr);
  }
}
