@import "../styles";

pinput-text {
  @extend .pInput;
  display: flex;
  column-gap: $spacing-normal;
  align-items: center;
  height: $input-height;
  padding-top: 0;
  padding-bottom: 0;

  input {
    width: 100%;
  }
}
