@import "src/styles/styles.scss";
@import "../primeDesignSystem/variables";

deal-summary {
  pcard {
    display: inline-block;
    width: 360px;
    background-color: $BG02;
    padding: $spacing-normal;
    transition: 0.35s ease-in-out;

    &:hover {
      background-color: $Border01;

      .button:after {
        opacity: 0;
      }

      .icons > .icon {
        border-color: $Border01;
      }
    }

    .dealSummary {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 190px 67px;
      grid-template-areas:
      "countdown"
      "proposal"
      "footer";


      .icons {
        display: grid;
        grid-area: icon;
        width: inherit;
        grid-template-columns: 42px auto;

        &.running {
          grid-template-columns: 38px 26px auto;
        }

        .icon {
          transition: 0.35s ease-in-out;
          display: grid;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 34px;
          border-radius: 17px;
          overflow: hidden;

          img {
            height: 34px;
            width: 34px;
          }

          border: 2px solid $BG02;

          &:not(:first-child) {
            margin-left: -15px;
            z-index: 2;
          }
        }

        .name {
          white-space: nowrap;
          padding-right: 10px;
          color: $Neutral03;
          font-family: "Inter";
          font-size: 14px;
          font-weight: 700;
          line-height: 19.6px;
        }
      }

      .titleContainer {
        grid-area: title;

        .titleType {
          color: $Secondary05;
          text-transform: uppercase;
          font-weight: $font-bold;
        }

        .title {
          font-size: $text-xl;
          font-weight: $font-bold;
        }
      }

      .dao {
        display: grid;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        color: #dcdae5;
      }

      .proposal {
        grid-area: proposal;
        display: grid;
        grid-template-areas:
        "title"
        "description";
        grid-template-rows: min-content auto;
        height: 190px;
        row-gap: 12px;
        padding: 0 $spacing-normal $spacing-normal $spacing-normal;
      }

      .description {
        grid-area: description;
        font-family: Inter;
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        color: $Neutral02;
        padding-bottom: 12px;
        text-overflow: ellipsis;
      }

      > .countdown {
        grid-area: countdown;
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
      }

      > .footer {
        grid-area: footer;
        display: flex;
        align-items: baseline;
        padding: $spacing-normal;

        & > div {
          .button {
            margin: 0 12px 0 0;
          }

          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

      }
    }

    .loading {
      text-align: center;
      padding-top: 32px;

      i {
        color: $Secondary07;
      }
    }

  }
}


@media screen and (max-width: $PageBreakWidth) {
  .dealSummaryContainer {
    // because this is going to be vertically-aligned
    padding-right: 0;
    margin-bottom: 20px;
    width: 50%;

    .dealSummary {
      > .icon {
        img {
          height: 36px;
          width: 36px;
        }
      }

      > .footer,
      > .countdown,
      > .proposal {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .dealSummaryContainer {
    min-width: 100%;
    width: 100%;
  }
}
