@import "src/styles/colors";
@import "src/styles/variables";

.prime-grid {
  margin-bottom: 20px;
  font-size: 16px;

  .row {
    cursor: default;
    /**
       * so the grid will be composed of the contents of the row element,
       * not the row element itself.
       */
    display: contents;

    &:hover {
      text-decoration: none;
    }

    .cell.header {
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      &.right {
        text-align: right;
      }
    }

    &.body.hot {
      cursor: pointer;
    }

    &.body.hot:hover .cell.body {
      background-color: $BG02;
    }

    .cell {
      border-bottom: 1px solid $Border01;
      &.condensed {
        border-bottom: none;
      }

      &.body {
        height: 74px;
        display: flex;
        align-items: center;
        &.right {
          text-align: right;
          justify-content: right;
        }
        &.condensed {
          height: 40px;
        }
      }
      /**
         * for when columns get scrunched together
         */
      &:not(:nth-of-type(n + 7)) {
        padding-right: 12px;
      }

      &.header {
        &.sortable {
          cursor: pointer;
        }
      }

      &.project {
        .ellipsesContainer {
          display: inline-block;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }

      &.dealSize {
        text-align: right;
        justify-content: right;
      }

      &.projectToken,
      &.fundingToken {
        white-space: nowrap;

        img {
          margin-right: 6px;
          @include tokenIcon;
        }
      }

      &.starts {
        .timeLeftContainer {
          .body {
            font-family: Aeonik; // so will center properly and look consistent
          }
        }
      }
      &.eslink {
        i {
          cursor: pointer;
          color: $Secondary02;
        }
      }
    }
  }

  display: grid;

  .row {
    &.header {
      .cell {
        border-bottom: 1px solid $Secondary02;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        font-family: Aeonik;
      }
    }
    .cell {
      &.body {
        &.cell {
          font-size: 16px;
          font-family: Aeonik;
          font-weight: 400;
          color: $Neutral03;
        }
      }
    }
    &.body {
      .cell {
        &.title {
          color: $Secondary05;
          white-space: normal;
          padding-right: 35px;
        }
      }
      &:hover {
        color: inherit;
      }
    }
  }
  .seeMoreSection {
    margin-bottom: 36px;

    .seeMore {
      display: flex;
      color: $Neutral02;
      cursor: pointer;

      > .arrow {
        margin-right: 6px;
      }
    }
  }
}
