@import "../../../../resources/elements/primeDesignSystem/_variables.scss";
@import "../../../../resources/elements/primeDesignSystem/_colors.scss";
@import "../../../../styles/variables";

@mixin commonContentLabel {
  margin: 2px 0;
  font-weight: $font-bold;
  color: $Secondary02;
}

@mixin daoAvatar($size: 32px) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  border-radius: 32px;
  background-color: $Border02;
  color: $Secondary05;
  font-size: 18px;
  align-self: center;
  justify-self: end;
  background-position: center;
  background-size: cover;
}

$submitCardWidth: 645px;

.submitStageSectionContentContainer {
  font-family: Inter;

  .stageSectionContent {
    width: 645px;
    word-wrap: break-word;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: inherit;
    }

    @include pre;

    .clause-content {
      display: flex;
      flex-direction: column;
      gap: $spacing-normal;
      font-family: Inter;
      color: $Neutral04;
      .heading {
        overflow-wrap: anywhere;
      }
      .content {
        color: $Neutral03;
      }
    }
  }

  .submitContentLabel {
    @include commonContentLabel;
    font-size: $font-size2;
    line-height: 33px;
  }

  .submitContentLabel-sm {
    @include commonContentLabel;
    font-size: $font-size2;
    line-height: 22px;
  }

  .submitCard {
    width: $submitCardWidth;

    pcard {
      display: block;
      padding: 20px;

      pcard {
        background: $BG01;
        margin-top: 20px;
      }
    }

    &.submitDaoCard {
      .submitContent {
        margin: unset;
      }
    }

    &.submitTermsCard {
      @include ckeditor-content;
      margin-top: 30px;
    }

    &.submitDaoCard {
      .submitDaoTokenCard {


        .tokenName {
          display: flex;
          align-items: center;
          gap: $spacing-normal;
          font-weight: $font-bold;
          font-size: $font-size1;
          line-height: 20px;
        }

        .detailsTable {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 15px;
          row-gap: 20px;
          width: 100%;
          border-spacing: $spacing-normal;

          .detailsCell {
            max-width: 140px; // TODO: experimented, until it looks good --> Should ask Design

            p {
              text-overflow: ellipsis;
              overflow-x: hidden;
            }

            p:first-child {
              color: $Secondary02;
              margin-bottom: $spacing-small;
              display: flex;
              align-items: center;
              gap: $spacing-medium-small;
              font-weight: $font-bold;
            }
          }

          &.detailsTableInViewMode {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 30px 0;

            .detailsCellAmount {
              grid-column: span 3;
            }
          }
        }
      }
    }

    .submitCardContent {
      .submitCardHeader {
        font-size: $font-size3;
        font-weight: $font-bold;
        border-bottom: 1px $Secondary05 solid;
        margin-bottom: 18px;
        padding-bottom: 6px;
        line-height: 28px;
      }

      .submitContent {
        margin-bottom: 20px;
      }

      .daoAvatar {
        @include daoAvatar(36px);
      }
    }
  }

  .optionalContent {
    color: $Neutral04;
  }

  .rewardsCard {
    hr {
      margin: 20px 0;
    }

    table {
      width: 100%;

      tr {
        td {
          padding-bottom: 8px;
        }

        td:last-child {
          text-align: right;
        }
      }
    }

    .rewardsTable {
      display: grid;
      grid-template-columns: 1fr min-content min-content;
      column-gap: 40px;
      row-gap: 10px;
      white-space: nowrap;

      .splitPriceValue {
        text-align: right;
      }
    }
  }
}

.congratulatePopup {
  margin-bottom: 18px;
  max-width: 600px;

  .dialogBody {
    .excitement {
      margin-bottom: 48px;
    }

    .copyLink {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0px;

      &::before {
        content: "\2192";
        margin-right: 8px;
      }
    }
  }
}
